<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pc="http://java.sun.com/jsf/composite/custom_component"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:security="http://www.springframework.org/security/tags"
	template="/WEB-INF/template.xhtml">

	<ui:define name="titre"> - Bloc Tournois</ui:define>


	<ui:define name="subheader">
		<p:breadCrumb>
			<p:menuitem value="Page d'accueil" outcome="ACCUEIL" />
			<p:menuitem rendered="#{p:ifAnyGranted('ADMI')}" value="Index"
				outcome="INDEX_INSCRIPTION" />
			<p:menuitem rendered="#{p:ifAnyGranted('ADMI')}"
				value="Liste tournois" outcome="LISTE_TOURNOIS" />
		</p:breadCrumb>
	</ui:define>


	<ui:define name="content">

		<script type="text/javascript">
			function handleAddDocumentRequest(xhr, status, args) {
				if (args.validationFailed) {
					PF('dlg_add_document').jq.effect("shake", {
						times : 5
					}, 100);
				} else {
					PF('dlg_add_document').hide();
				}
			}

			function handleAddCommuneRequest2(xhr, status, args) {
				if (args.validationFailed) {
					PF('dlg_add_club').jq.effect("shake", {
						times : 5
					}, 100);
				} else {
					PF('dlg_add_club').hide();
				}
			}
		</script>

		<security:authorize access="hasAnyRole('ADMI', 'JOU')">



			<pc:messages />
			<h:form id="form_tournoi1">

				<div class="Container100">
					<div class="ContainerIndent">

						<div class="Card ShadowEffect BlueBack">
							<p:outputLabel style="text-align: center; width: 100%;"
								value="#{beanTournoi.libelleHeader}" styleClass="Fs30 White">
							</p:outputLabel>
						</div>
					</div>
				</div>
			</h:form>

			<h:form id="form_tournoi">

				<div class="Container50">
					<div class="ContainerIndent">

						<div class="Card ShadowEffect">

							<!-- 							<p:panel id="panel_tournoi" style="text-align; width: 100%;"> -->
							<br />
							<h1 class="Fs14 Red BorderBottom TexAlLeft">Tournoi</h1>
							<p:panelGrid style="width: 100%;" styleClass="ui-panelgrid-blank">
								<p:row>
									<p:column>
										<p:outputLabel value="Nom : " for="nom"
											rendered="#{beanTournoi.modificationGeneral}" />
									</p:column>
									<p:column></p:column>
									<p:column>
										<p:outputLabel value="Tour gardois : "
											rendered="#{beanTournoi.modificationGeneral}" />
									</p:column>

								</p:row>
								<p:row>
									<p:column>
										<p:inputText id="nom" maxlength="60" styleClass="Container100"
											value="#{beanTournoi.tournoi.libelleTournoi}"
											rendered="#{beanTournoi.modificationGeneral}" required="true"
											requiredMessage="Nom obligatoire" />
										<p:message for="nom" display="tooltip" />
										<p:outputLabel value="#{beanTournoi.tournoi.libelleTournoi}"
											rendered="#{!beanTournoi.modificationGeneral}"
											styleClass="Blue Fs20" />
									</p:column>
									<p:column></p:column>
									<p:column>
										<p:selectBooleanCheckbox id="tg"
											value="#{beanTournoi.tournoi.tourGardois}"
											disabled="#{!beanTournoi.modificationGeneral}"
											rendered="#{beanTournoi.modificationGeneral}">
										</p:selectBooleanCheckbox>
										<p:outputLabel value="Tour gardois"
											styleClass="Card GreenBack White Fs20"
											rendered="#{!beanTournoi.modificationGeneral and beanTournoi.tournoi.tourGardois}" />
									</p:column>
								</p:row>

								<p:row rendered="#{!beanTournoi.modificationGeneral}">
									<p:column>
										<p:outputLabel value="Emplacement : "
											rendered="#{!beanTournoi.modificationGeneral}" />
									</p:column>
								</p:row>

								<p:row rendered="#{!beanTournoi.modificationGeneral}">
									<p:column>
										<p:outputLabel value="#{beanTournoi.tournoi.label}"
											styleClass="Blue"
											rendered="#{!beanTournoi.modificationGeneral}" />
									</p:column>
								</p:row>

								<p:row rendered="#{!beanTournoi.modificationGeneral}">
									<p:column>
										<p:outputLabel value="Prix tournoi"
											rendered="#{!beanTournoi.modificationGeneral}" />
									</p:column>
								</p:row>

								<p:row rendered="#{!beanTournoi.modificationGeneral}">
									<p:column>
										<p:outputLabel value="#{beanTournoi.tournoi.labelPrix}"
											rendered="#{!beanTournoi.modificationGeneral}"
											styleClass="Blue" />
									</p:column>
								</p:row>

								<p:row rendered="#{!beanTournoi.modificationGeneral}">
									<p:column>
										<p:outputLabel value="Nombre de jour : " />
									</p:column>
								</p:row>

								<p:row rendered="#{!beanTournoi.modificationGeneral}">
									<p:column>
										<p:outputLabel value="#{beanTournoi.tournoi.nombreJour}"
											rendered="#{!beanTournoi.modificationGeneral}"
											styleClass="Blue" />
									</p:column>


								</p:row>

								<p:row rendered="#{beanTournoi.modificationGeneral}">

									<p:column>
										<p:outputLabel value="Lieu : " for="lieu"
											rendered="#{beanTournoi.modificationGeneral}" />
									</p:column>

								</p:row>


								<p:row rendered="#{beanTournoi.modificationGeneral}">

									<p:column>
										<p:inputText id="lieu" maxlength="32"
											value="#{beanTournoi.tournoi.lieuTournoi}"
											rendered="#{beanTournoi.modificationGeneral}" required="true"
											requiredMessage="Lieu obligatoire" />
										<p:message for="lieu" display="tooltip" />
									</p:column>
								</p:row>
								<p:row rendered="#{beanTournoi.modificationGeneral}">
									<p:column>
										<p:outputLabel value="Date de debut du tournoi: " for="date"
											rendered="#{beanTournoi.modificationGeneral}" />
									</p:column>
									<p:column>
										<p:outputLabel value="Date limite d'inscription: " for="datel"
											rendered="#{beanTournoi.modificationGeneral}" />
									</p:column>
									<p:column>
										<p:outputLabel value="Nombre de jour : " for="nbjour"
											rendered="#{beanTournoi.modificationGeneral}" />
									</p:column>
								</p:row>
								<p:row rendered="#{beanTournoi.modificationGeneral}">
									<p:column>
										<p:calendar id="date" showOn="button" navigator="true"
											requiredMessage="La date de tournoi est obligatoire."
											value="#{beanTournoi.tournoi.dateTournoi}"
											readonly="#{!beanTournoi.modificationGeneral}"
											rendered="#{beanTournoi.modificationGeneral}"
											pattern="dd/MM/yyyy" mask="true">
										</p:calendar>
										<p:message for="date" display="tooltip" />
									</p:column>
									<p:column>
										<p:calendar id="datel" showOn="button" navigator="true"
											required="true"
											requiredMessage="La date limite d'inscription est obligatoire."
											value="#{beanTournoi.tournoi.dateLimiteInscription}"
											readonly="#{!beanTournoi.modificationGeneral}"
											rendered="#{beanTournoi.modificationGeneral}"
											pattern="dd/MM/yyyy" mask="true">
										</p:calendar>
										<p:message for="datel" display="tooltip" />
									</p:column>
									<p:column>
										<p:spinner id="nbjour"
											value="#{beanTournoi.tournoi.nombreJour}"
											rendered="#{beanTournoi.modificationGeneral}" required="true"
											requiredMessage="Le nombre de jour est obligatoire.">
										</p:spinner>
										<p:message for="nbjour" display="tooltip" />
									</p:column>
								</p:row>
								<p:row rendered="#{beanTournoi.modificationGeneral}">
									<p:column>
										<p:outputLabel value="Prix un tableau : " for="p1"
											rendered="#{beanTournoi.modificationGeneral}" />
									</p:column>
									<p:column>
										<p:outputLabel value="Prix deux tableau : " for="p2"
											rendered="#{beanTournoi.modificationGeneral}" />
									</p:column>
									<p:column>
										<p:outputLabel value="Prix trois tableau : " for="p3"
											rendered="#{beanTournoi.modificationGeneral}" />
									</p:column>
								</p:row>
								<p:row>

									<p:column>
										<p:inputNumber id="p1"
											value="#{beanTournoi.tournoi.prixUnTableau}" symbol=" €"
											symbolPosition="s" decimalSeparator="," thousandSeparator=" "
											readonly="#{!beanTournoi.modificationGeneral}"
											rendered="#{beanTournoi.modificationGeneral}">
										</p:inputNumber>
										<!-- 											<p:inputNumber id="p1change" -->
										<!-- 												value="#{beanTournoi.tournoi.prixUnTableau}" symbol=" €" -->
										<!-- 												symbolPosition="s" decimalSeparator="," -->
										<!-- 												thousandSeparator=" " -->
										<!-- 												readonly="#{!beanTournoi.modificationGeneral}" -->
										<!-- 												rendered="#{beanTournoi.tournoi.prixUnTableau != null and !beanTournoi.modificationGeneral}"> -->
										<!-- 											</p:inputNumber> -->
										<p:message for="p1" display="tooltip" />
									</p:column>
									<p:column>
										<p:inputNumber id="p2"
											value="#{beanTournoi.tournoi.prixDeuxTableau}" symbol=" €"
											symbolPosition="s" decimalSeparator="," thousandSeparator=" "
											readonly="#{!beanTournoi.modificationGeneral}"
											rendered="#{beanTournoi.modificationGeneral}">
										</p:inputNumber>
										<!-- 											<p:inputNumber id="p2change" -->
										<!-- 												value="#{beanTournoi.tournoi.prixDeuxTableau}" symbol=" €" -->
										<!-- 												symbolPosition="s" decimalSeparator="," -->
										<!-- 												thousandSeparator=" " -->
										<!-- 												readonly="#{!beanTournoi.modificationGeneral}" -->
										<!-- 												rendered="#{beanTournoi.tournoi.prixDeuxTableau != null and !beanTournoi.modificationGeneral}"> -->
										<!-- 											</p:inputNumber> -->
										<p:message for="p2" display="tooltip" />
									</p:column>
									<p:column>
										<p:inputNumber id="p3"
											value="#{beanTournoi.tournoi.prixTroisTableau}" symbol=" €"
											symbolPosition="s" decimalSeparator="," thousandSeparator=" "
											readonly="#{!beanTournoi.modificationGeneral}"
											rendered="#{beanTournoi.modificationGeneral}">

										</p:inputNumber>
										<!-- 											<p:inputNumber id="p3change" -->
										<!-- 												value="#{beanTournoi.tournoi.prixTroisTableau}" symbol=" €" -->
										<!-- 												symbolPosition="s" decimalSeparator="," -->
										<!-- 												thousandSeparator=" " -->
										<!-- 												readonly="#{!beanTournoi.modificationGeneral}" -->
										<!-- 												rendered="#{beanTournoi.tournoi.prixTroisTableau != null and !beanTournoi.modificationGeneral}"> -->
										<!-- 											</p:inputNumber> -->
										<p:message for="p3" display="tooltip" />
									</p:column>
								</p:row>

								<p:row rendered="#{beanTournoi.modificationGeneral}">
									<p:column>
										<p:outputLabel value="Lien Badiste : " for="lien"
											rendered="#{beanTournoi.modificationGeneral}" />
										<p:outputLabel rendered="#{!beanTournoi.modificationGeneral}" />
									</p:column>

								</p:row>
								<p:row>
									<p:column>
									</p:column>
									<p:column rendered="#{!beanTournoi.modificationGeneral}">
										<p:outputLabel value="DATE LIMITE INSCRIPTION: "
											rendered="#{!beanTournoi.modificationGeneral}" />
									</p:column>
									<p:column>

									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<p:inputText id="lien" maxlength="500" class="Container100"
											value="#{beanTournoi.tournoi.lien}" required="true"
											requiredMessage="le lien est necessaire (au moins 1 caractère)"
											rendered="#{beanTournoi.modificationGeneral}" />
										<p:link value="Lien Badiste"
											href="#{beanTournoi.tournoi.lien}" target="_blank"
											styleClass="Card HoverEffect GrayBack White ShadowEffect"
											rendered="#{!beanTournoi.modificationGeneral and beanTournoi.tournoi.lien != null}"
											style="width:88px" />
									</p:column>
									<p:column>
										<p:outputLabel
											value="#{beanTournoi.tournoi.dateLimiteInscription}"
											styleClass="Card RedBack White"
											rendered="#{!beanTournoi.modificationGeneral}">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</p:outputLabel>
									</p:column>
									<!-- 									<p:column> -->
									<!-- 										<p:outputLabel value="Inscriptions OUVERTES/FERMEES : " -->
									<!-- 											rendered="#{beanTournoi.modificationGeneral}" /> -->
									<!-- 										<p:toggleSwitch value="#{beanTournoi.tournoi.actif}" -->
									<!-- 											rendered="#{beanTournoi.modificationGeneral and p:ifAnyGranted('ADMI, TOURN')}" -->
									<!-- 											style="margin-left:30%"> -->
									<!-- 											<p:ajax event="change" update="form_tournoi" /> -->
									<!-- 										</p:toggleSwitch> -->
									<!-- 									</p:column> -->
								</p:row>
							</p:panelGrid>
							<p:panelGrid style="width: 100%;" styleClass="ui-panelgrid-blank">
								<p:row>
									<p:column>
										<p:outputLabel value="Detail : " for="detail" />
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<p:textEditor widgetVar="editor1" id="detail"
											value="#{beanTournoi.tournoi.detail}" width="100000"
											readonly="#{!beanTournoi.modificationGeneral}"
											toolbarVisible="#{beanTournoi.modificationGeneral}" />
									</p:column>
								</p:row>

							</p:panelGrid>
							<br />
							<!-- 							<p:tab id="tab_documents" title="Documents" -->
							<!-- 								rendered="#{beanTournoi.tournoi.id != null}"> -->

							<!-- 								<h1 class="Fs14 Red BorderBottom TexAlLeft">Documents</h1> -->

							<!-- 								<br /> -->
							<!-- 								<p:commandButton title="Ajouter un Document" icon="fa fa-plus" -->
							<!-- 									onclick="PF('dlg_add_document').show();" -->
							<!-- 									styleClass="PosAbsolute RaisedButton" -->
							<!-- 									rendered="#{p:ifAnyGranted('ADMI')}" /> -->

							<!-- 								<p:dataTable var="documents" -->
							<!-- 									style="border:none; text-align:center;" -->
							<!-- 									value="#{beanTournoi.tournoi.listeDocument}" -->
							<!-- 									emptyMessage="Il n'existe pas de documents à ce tournoi"> -->

							<!-- 									<p:column headerText="Nom document"> -->
							<!-- 										<h:outputText value="#{documents.nom}" /> -->
							<!-- 									</p:column> -->

							<!-- 									<p:column headerText="" style="width:5%"> -->
							<!-- 										<p:commandButton ajax="false" -->
							<!-- 											onclick="PrimeFaces.monitorDownload(startNonAjaxLoad, stopNonAjaxLoad);" -->
							<!-- 											icon="fa fa-cloud-download" -->
							<!-- 											styleClass="RaisedButton GrayButton" title="download"> -->
							<!-- 											<p:fileDownload value="#{beanTournoi.download(documents)}" /> -->
							<!-- 										</p:commandButton> -->
							<!-- 									</p:column> -->

							<!-- 									<p:column headerText="" style="width:5%" -->
							<!-- 										rendered="#{beanTournoi.modificationGeneral}"> -->
							<!-- 										<p:commandButton icon="fa fa-close" immediate="true" -->
							<!-- 											actionListener="#{beanTournoi.supprimer(documents)}" -->
							<!-- 											styleClass="RaisedButton GrayButton" title="supprimer" -->
							<!-- 											update="form_tournoi:panel_tournoi" process="@this" -->
							<!-- 											rendered="#{beanTournoi.modificationGeneral}"> -->
							<!-- 										</p:commandButton> -->
							<!-- 									</p:column> -->

							<!-- 								</p:dataTable> -->
							<!-- 							</p:tab> -->
							<br />
							<!-- 							</p:panel> -->
						</div>
					</div>
				</div>

				<div class="Container50">
					<div class="ContainerIndent">

						<div class="Card ShadowEffect">

							<h1 class="Fs14 Red BorderBottom TexAlLeft">Specifications
								Tournoi</h1>
							<p:panelGrid style="width: 100%;" styleClass="ui-panelgrid-blank"
								rendered="#{beanTournoi.modificationGeneral}">

								<p:row>
									<p:column>
										<p:outputLabel value="Tournoi senior : " for="senior" />
									</p:column>
									<!-- 									<p:column> -->
									<!-- 										<p:outputLabel value="Tournoi veteran : " for="veteran" /> -->
									<!-- 									</p:column> -->
								</p:row>
								<p:row>
									<p:column>
										<p:selectBooleanCheckbox id="senior"
											value="#{beanTournoi.tournoi.categorieTournoi.categorieSenior}"
											disabled="#{!beanTournoi.modificationGeneral}">
											<!-- 											<p:ajax update="veteran" -->
											<!-- 												listener="#{beanTournoi.onSeniorStatusChange}" /> -->
										</p:selectBooleanCheckbox>
										<p:message for="senior" display="tooltip" />
									</p:column>
									<!-- 									<p:column> -->
									<!-- 										<p:selectBooleanCheckbox id="veteran" -->
									<!-- 											value="#{beanTournoi.tournoi.categorieTournoi.categorieVeteran}" -->
									<!-- 											disabled="#{!beanTournoi.modificationGeneral}"> -->
									<!-- 											<p:ajax update="senior" -->
									<!-- 												listener="#{beanTournoi.onVeteranStatusChange}" /> -->
									<!-- 										</p:selectBooleanCheckbox> -->
									<!-- 										<p:message for="veteran" display="tooltip" /> -->
									<!-- 									</p:column> -->
								</p:row>

							</p:panelGrid>
							<p:panelGrid style="width: 100%;" styleClass="ui-panelgrid-blank"
								rendered="#{!beanTournoi.modificationGeneral}">
								<br />

								<p:outputLabel
									value="#{beanTournoi.tournoi.categorieTournoi.label}"
									styleClass="Card BlueBack White" style="margin-left: 10px;" />

								<p:outputLabel value="SIMPLE"
									styleClass="Card LeadenGreenBack White"
									style="margin-left: 10px;"
									rendered="#{beanTournoi.tournoi.categorieTournoi.disciplineSimple == true}" />

								<p:outputLabel value="DOUBLE" styleClass="Card PurpleBack White"
									style="margin-left: 10px;"
									rendered="#{beanTournoi.tournoi.categorieTournoi.disciplineDouble == true}" />

								<p:outputLabel value="MIXTE" styleClass="Card OrangeBack White"
									style="margin-left: 10px;"
									rendered="#{beanTournoi.tournoi.categorieTournoi.disciplineMixte == true}" />



							</p:panelGrid>
							<br />
							<p:panelGrid style="width: 100%;" styleClass="ui-panelgrid-blank"
								rendered="#{!beanTournoi.modificationGeneral}">
								<h1 class="Fs14 Red BorderBottom TexAlLeft">Classements
									autorisés</h1>

								<br />


								<p:outputLabel value="N" styleClass="Card RedBack White"
									style="margin-left: 10px;"
									rendered="#{beanTournoi.tournoi.n == true}" />


								<p:outputLabel value="R" styleClass="Card BlueBack White"
									style="margin-left: 10px;"
									rendered="#{beanTournoi.tournoi.r == true}" />

								<p:outputLabel value="D" styleClass="Card GreenBack White"
									style="margin-left: 10px;"
									rendered="#{beanTournoi.tournoi.d == true}" />

								<p:outputLabel value="P" styleClass="Card YellowBack White"
									style="margin-left: 10px;"
									rendered="#{beanTournoi.tournoi.p == true}" />

							</p:panelGrid>

							<br />


							<p:panelGrid style="width: 100%;" styleClass="ui-panelgrid-blank"
								rendered="#{beanTournoi.modificationGeneral}">
								<h1 class="Fs14 Red BorderBottom TexAlLeft">Disciplines
									Possibles</h1>
								<p:row>
									<p:column>
										<p:outputLabel value="Simple : " for="simple" />
									</p:column>
									<p:column>
										<p:outputLabel value="Double : " for="double" />
									</p:column>
									<p:column>
										<p:outputLabel value="Mixte : " for="mixte" />
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<p:selectBooleanCheckbox id="simple"
											value="#{beanTournoi.tournoi.categorieTournoi.disciplineSimple}"
											disabled="#{!beanTournoi.modificationGeneral}">

										</p:selectBooleanCheckbox>
										<p:message for="simple" display="tooltip" />
									</p:column>
									<p:column>
										<p:selectBooleanCheckbox id="double"
											value="#{beanTournoi.tournoi.categorieTournoi.disciplineDouble}"
											disabled="#{!beanTournoi.modificationGeneral}">

										</p:selectBooleanCheckbox>
										<p:message for="double" display="tooltip" />
									</p:column>
									<p:column>
										<p:selectBooleanCheckbox id="mixte"
											value="#{beanTournoi.tournoi.categorieTournoi.disciplineMixte}"
											disabled="#{!beanTournoi.modificationGeneral}">

										</p:selectBooleanCheckbox>
										<p:message for="mixte" display="tooltip" />
									</p:column>
								</p:row>
							</p:panelGrid>

							<br />

							<p:panelGrid style="width: 100%;" styleClass="ui-panelgrid-blank"
								rendered="#{beanTournoi.modificationGeneral}">
								<h1 class="Fs14 Red BorderBottom TexAlLeft">Classements
									autorisés</h1>

								<p:row>
									<p:column>
										<p:outputLabel value="N : " />
									</p:column>
									<p:column>
										<p:outputLabel value="R : " />
									</p:column>
									<p:column>
										<p:outputLabel value="D : " />
									</p:column>
									<p:column>
										<p:outputLabel value="P : " />
									</p:column>
								</p:row>

								<p:row>
									<p:column>
										<p:selectBooleanCheckbox id="n"
											value="#{beanTournoi.tournoi.n}"
											disabled="#{!beanTournoi.modificationGeneral}">
										</p:selectBooleanCheckbox>

									</p:column>
									<p:column>
										<p:selectBooleanCheckbox id="r"
											value="#{beanTournoi.tournoi.r}"
											disabled="#{!beanTournoi.modificationGeneral}">
										</p:selectBooleanCheckbox>

									</p:column>
									<p:column>
										<p:selectBooleanCheckbox id="d"
											value="#{beanTournoi.tournoi.d}"
											disabled="#{!beanTournoi.modificationGeneral}">

										</p:selectBooleanCheckbox>

									</p:column>
									<p:column>
										<p:selectBooleanCheckbox id="p"
											value="#{beanTournoi.tournoi.p}"
											disabled="#{!beanTournoi.modificationGeneral}">

										</p:selectBooleanCheckbox>

									</p:column>
								</p:row>

							</p:panelGrid>

							<p:panelGrid style="width: 100%;" styleClass="ui-panelgrid-blank"
								rendered="#{beanTournoi.modificationGeneral}">
								<h1 class="Fs14 Red BorderBottom TexAlLeft">Inscriptions</h1>
								<br />
								<p:row>
									<p:column>
										<p:outputLabel value="Score center : " />
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<p:selectBooleanCheckbox id="score"
											value="#{beanTournoi.tournoi.scoreCenter}"
											disabled="#{!beanTournoi.modificationGeneral}">
											<p:ajax event="change" update="form_tournoi" />
										</p:selectBooleanCheckbox>
									</p:column>
								</p:row>
							</p:panelGrid>

							<br />


							<p:tab id="tab_joueur" title="Joueurs inscrits"
								rendered="#{beanTournoi.tournoi.id != null and !beanTournoi.tournoi.scoreCenter}">
								<br />
								<h1 class="Fs15 Red BorderBottom">Joueurs Inscrits</h1>

								<br />

								<p:button title="Ajouter un Joueur"
									styleClass="PosAbsolute RaisedButton" icon="fa fa-plus"
									disabled="#{!beanTournoi.tournoi.lock}" outcome="INSCRIPTION"
									rendered="#{!beanTournoi.modificationGeneral and beanTournoi.tournoi.categorieTournoi.categorieSenior and p:ifAnyGranted('ADMI, TOURN')}">
									<f:param name="idTournoi" value="#{beanTournoi.tournoi.id}" />
								</p:button>

								<p:dataTable var="inscription"
									rendered="#{beanTournoi.tournoi.categorieTournoi.categorieSenior}"
									style="border:none; text-align:center;"
									value="#{beanTournoi.tournoi.listeInscriptions}"
									emptyMessage="Il n'existe pas d'inscriptions a ce Tournoi"
									sortBy="#{inscription.dateInscription}">

									<p:column headerText="Nom Joueur">
										<h:outputText value="#{inscription.joueur.label}" />
									</p:column>

									<p:column headerText="Licence">
										<h:outputText value="#{inscription.joueur.licenceJoueur}" />
									</p:column>
									<p:column headerText="Simple">
										<p:selectBooleanCheckbox
											value="#{inscription.categorieSimple}" disabled="true" />
									</p:column>

									<p:column headerText="Double">
										<p:selectBooleanCheckbox
											value="#{inscription.categorieDouble}" disabled="true" />
									</p:column>

									<p:column headerText="Partenaire">
										<!-- 										rendered="#{beanTournoi.inscription.categorieDouble}"> -->
										<h:outputText value="#{inscription.partenaireDouble.label}" />
									</p:column>
									<p:column headerText="Mixte">
										<p:selectBooleanCheckbox value="#{inscription.categorieMixte}"
											disabled="true" />
									</p:column>

									<p:column headerText="Partenaire">
										<!-- 										rendered="#{beanTournoi.inscription.categorieMixte}"> -->
										<h:outputText value="#{inscription.partenaireMixte.label}" />
									</p:column>
									<p:column headerText="" style="width: 35px;"
										rendered="#{!beanTournoi.modificationGeneral and p:ifAnyGranted('ADMI, TOURN')}">
										<p:button id="boutton_consult" icon="fa fa-edit"
											styleClass="GrayButton RaisedButton" outcome="INSCRIPTION">
											<f:param name="idInscription" value="#{inscription.id}" />
											<f:param name="idTournoi" value="#{beanTournoi.tournoi.id}" />
										</p:button>
									</p:column>

									<p:column headerText="" style="width: 35px;"
										rendered="#{beanTournoi.modificationGeneral and p:ifAnyGranted('ADMI, TOURN')}">
										<i class="Fs10"><p:commandButton icon="fa fa-minus"
												process="@this" styleClass="RaisedButton GrayButton"
												title="supprimer" update="form_tournoi"
												action="#{beanTournoi.removeInscription(inscription)}">
											</p:commandButton></i>
									</p:column>
								</p:dataTable>
							</p:tab>

							<p:panelGrid style="width: 100%;" styleClass="ui-panelgrid-blank"
								rendered="#{beanTournoi.tournoi.scoreCenter}">
								<p:row
									rendered="#{beanTournoi.modificationGeneral and beanTournoi.tournoi.scoreCenter}">
									<p:column>
										<p:outputLabel value="lien score center : " />
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<p:inputText id="lienSc" maxlength="500" class="Container100"
											value="#{beanTournoi.tournoi.lienScoreCenter}"
											rendered="#{beanTournoi.modificationGeneral and beanTournoi.tournoi.scoreCenter}" />
										<p:link value="Lien Score Center"
											href="#{beanTournoi.tournoi.lienScoreCenter}" target="_blank"
											styleClass="Card HoverEffect GreenBack White ShadowEffect"
											rendered="#{!beanTournoi.modificationGeneral and beanTournoi.tournoi.scoreCenter}"
											style="width:150px" />
									</p:column>
								</p:row>

							</p:panelGrid>
						</div>
					</div>
				</div>

				<div class="form-actions-general">
					<p:toolbar id="toolBarAction">
						<p:toolbarGroup align="right">


							<p:button id="boutton_inscr" value="M'inscrire" icon="fa fa-plus"
								rendered="#{!beanTournoi.modificationGeneral and beanTournoi.selectedInscription == null and beanTournoi.tournoi.lock and !beanTournoi.tournoi.scoreCenter}"
								styleClass="GreenButton RaisedButton" outcome="INSCRIPTION">
								<f:param name="idTournoi" value="#{beanTournoi.tournoi.id}" />
							</p:button>

							<p:button id="boutton_edit" value="Modifier mon inscription"
								icon="fa fa-edit"
								rendered="#{!beanTournoi.modificationGeneral and beanTournoi.selectedInscription != null and !p:ifAnyGranted('ADMI, TOURN')}"
								styleClass="OrangeButton RaisedButton" outcome="INSCRIPTION">
								<f:param name="idTournoi" value="#{beanTournoi.tournoi.id}" />
								<f:param name="idInscription"
									value="#{beanTournoi.selectedInscription.id}" />
							</p:button>

							<p:separator
								rendered="#{!beanTournoi.modificationGeneral and p:ifAnyGranted('ADMI, TOURN')}" />

							<p:commandButton
								rendered="#{!beanTournoi.modificationGeneral and p:ifAnyGranted('ADMI, TOURN')}"
								id="button_exporter" value="Exporter" styleClass="RaisedButton"
								icon="fa fa-external-link"
								actionListener="#{beanTournoi.exporter}" ajax="false"
								action="EXPORTATION_INSCRIPTIONS"
								onclick="PrimeFaces.monitorDownload(startNonAjaxLoad, reloadPage);">
								<p:fileDownload value="#{beanTournoi.fileExport}" />
							</p:commandButton>

							<p:separator
								rendered="#{!beanTournoi.modificationGeneral and p:ifAnyGranted('ADMI, TOURN')}" />

							<p:commandButton value="supprimer" icon="fa fa-bitbucket"
								action="#{beanTournoi.delete}" update="form_tournoi"
								styleClass="RedButton RaisedButton"
								rendered="#{!beanTournoi.modificationGeneral and p:ifAnyGranted('ADMI, TOURN')}">
								<p:confirm header="Suppression"
									message="Confirmez vous la suppression de ce tournoi ?"
									icon="ui-icon-alert" />
							</p:commandButton>

							<p:separator
								rendered="#{!beanTournoi.modificationGeneral and p:ifAnyGranted('ADMI, TOURN')}" />

							<p:commandButton id="boutton_modify" value="modifier"
								icon="fa fa-pencil"
								action="#{beanTournoi.setModificationGeneral(true)}"
								update="form_tournoi" styleClass="OrangeButton RaisedButton"
								rendered="#{!beanTournoi.modificationGeneral and p:ifAnyGranted('ADMI, TOURN')}" />
							<p:defaultCommand target="boutton_modify" />

							<p:commandButton value="annuler" icon="fa fa-ban"
								action="#{beanTournoi.annuler}" update="form_tournoi"
								styleClass="RedButton RaisedButton"
								rendered="#{beanTournoi.modificationGeneral and beanTournoi.tournoi.id != null}"
								process="@this">
								<p:ajax update="form_tournoi" resetValues="true" />
							</p:commandButton>

							<p:button value="annuler" icon="fa fa-ban"
								outcome="LISTE_TOURNOIS" styleClass="RedButton RaisedButton"
								rendered="#{beanTournoi.modificationGeneral and beanTournoi.tournoi.id == null}" />

							<p:separator
								rendered="#{beanTournoi.modificationGeneral and p:ifAnyGranted('ADMI, TOURN')}" />

							<p:commandButton id="boutton_save" value="enregistrer"
								icon="fa fa-check" action="#{beanTournoi.save}"
								update="form_tournoi" styleClass="GreenButton RaisedButton"
								rendered="#{beanTournoi.modificationGeneral}" />
							<p:defaultCommand target="boutton_save" />

						</p:toolbarGroup>
					</p:toolbar>
				</div>

			</h:form>



			<h:form id="form_dialog_add_document" enctype="multipart/form-data">
				<pc:messages id="messages3" />
				<p:dialog id="dlg_add_document" header="Ajouter un document"
					widgetVar="dlg_add_document" modal="true" closeOnEscape="true"
					responsive="true">

					<p:ajax event="open" listener="#{beanTournoi.openDialogDocument}" />

					<p:ajax event="close" update="@this"
						listener="#{beanTournoi.initDialogDocument}" resetValues="true" />


					<p:panelGrid style="width: 100%;"
						styleClass="ui-panelgrid-blank Container80"
						columnClasses="Wid30,Wid70">


						<p:row>
							<p:column>
								<p:outputLabel value="Nom fichier : " />
							</p:column>
							<p:column>
								<p:outputLabel value="Fichier : " />
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<p:inputText id="nomFichier"
									value="#{beanTournoi.fileToUpload.nom}" />
							</p:column>
							<p:column>
								<p:fileUpload id="file" value="#{beanTournoi.filer}"
									mode="simple" skinSimple="true" label="Choisir fichier" />
							</p:column>
						</p:row>

					</p:panelGrid>
					<f:facet name="footer">

						<p:commandButton id="add_document" value="Ajouter"
							oncomplete="handleAddDocumentRequest(xhr, status, args)"
							action="#{beanTournoi.upload}" ajax="false"
							update="form_tournoi:tab_documents">
						</p:commandButton>
					</f:facet>

				</p:dialog>
			</h:form>

		</security:authorize>

		<security:authorize access="!hasAnyRole('ADMI' , 'JOU')">

			<ui:include src="/jsf/error/access-denied.xhtml" />

		</security:authorize>

	</ui:define>

</ui:composition>