<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pc="http://java.sun.com/jsf/composite/custom_component"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:security="http://www.springframework.org/security/tags"
	template="/WEB-INF/template.xhtml">

	<ui:define name="titre"> - Bloc Inscription</ui:define>

	<ui:define name="subheader">
		<p:breadCrumb>
			<p:menuitem value="Page d'accueil" outcome="ACCUEIL" />
			<p:menuitem rendered="#{p:ifAnyGranted('ADMI')}" value="Index"
				outcome="INDEX_INSCRIPTION" />
			<p:menuitem rendered="#{p:ifAnyGranted('ADMI')}"
				value="Liste tournois" outcome="LISTE_TOURNOIS" />
			<p:menuitem value="Tournoi" outcome="TOURNOI">
				<f:param name="idTournoi" value="#{beanInscription.tournoi.id}" />
			</p:menuitem>
		</p:breadCrumb>
	</ui:define>

	<ui:define name="content">

		<script type="text/javascript">
			function handleAddExterneRequest(xhr, status, args) {
				if (args.validationFailed) {
					PF('dlg_add_externe').jq.effect("shake", {
						times : 5
					}, 100);
				} else {
					PF('dlg_add_externe').hide();
				}
			}
		</script>

		<security:authorize access="hasAnyRole('ADMI', 'JOU')">

			<h:form id="form_inscription">

				<pc:messages />

				<div class="Container100">
					<div class="ContainerIndent">

						<div class="Card ShadowEffect">

							<p:panel id="panel_inscription" style="text-align;"
								header="#{beanInscription.libelleHeader}">

								<p:panelGrid id="panel_grid_joueur_base" style="width: 100%;"
									styleClass="ui-panelgrid-blank">

									<h1 class="Fs14 Red BorderBottom TexAlLeft">Mon Joueur</h1>
									<br />

									<p:row>
										<p:column>
											<p:outputLabel value="Joueur :"
												rendered="#{p:ifAnyGranted('ADMI') and !beanInscription.modificationGeneral}" />
										</p:column>
									</p:row>
									<p:row>
										<p:column>
											<p:selectOneMenu id="joueur_auto" filter="true"
												filterMatchMode="contains"
												value="#{beanInscription.inscription.joueur}"
												converter="joueurConverter" required="true"
												requiredMessage="Le joueur est obligatoire"
												rendered="#{beanInscription.modificationGeneral and p:ifAnyGranted('ADMI')}">
												<f:selectItem itemValue=""
													itemLabel="Selectionner un Joueur" />
												<f:selectItems value="#{beanInscription.listeVeterans}"
													var="joueur" itemLabel="#{joueur.label}"
													itemValue="#{joueur}" />
												<f:attribute name="listeJoueurs"
													value="#{beanInscription.listeJoueurs}" />

												<p:ajax event="change"
													listener="#{beanInscription.findAllJoueursBySexe}"
													update="panel_grid_part2 panel_grid_part3" />

												<p:ajax event="change"
													listener="#{beanInscription.externeDouble}"
													update="panel_grid_part2 panel_grid_part3" />

												<p:ajax event="change"
													listener="#{beanInscription.externeMixte}"
													update="panel_grid_part2 panel_grid_part3" />


												<!-- 											<p:ajax event="change" -->
												<!-- 												listener="#{beanInscription.verifExist(beanInscription.inscription.joueur)}" -->
												<!-- 												update="panel_grid_inscr panel_grid_part panel_grid_part2 panel_grid_part3" /> -->


											</p:selectOneMenu>
											<p:inputText id="joueur_lock" maxlength="32"
												value="#{beanInscription.inscription.joueur.label}"
												readonly="#{!beanInscription.modificationGeneral}"
												rendered="#{!beanInscription.modificationGeneral}" />
										</p:column>

										<p:column>
											<p:commandButton
												rendered="#{beanInscription.modificationGeneral}"
												id="button_externe" value="Ajouter un joueur externe"
												icon="fa fa-plus" onclick="PF('dlg_add_externe').show();"
												styleClass="BlueButton RaisedButton">
											</p:commandButton>
										</p:column>
									</p:row>
								</p:panelGrid>

								<br />
								<h1 class="Fs14 Red BorderBottom TexAlLeft">Categorie de
									l'inscription</h1>
								<br />

								<p:panelGrid id="panel_grid_inscr" style="width: 100%;"
									styleClass="ui-panelgrid-blank">

									<p:row>
										<p:column>
											<p:outputLabel value="Simple :"
												rendered="#{beanInscription.tournoi.categorieTournoi.disciplineSimple}" />
										</p:column>
										<p:column>
											<p:outputLabel value="Double :"
												rendered="#{beanInscription.tournoi.categorieTournoi.disciplineDouble}" />
										</p:column>
										<p:column>
											<p:outputLabel value="Mixte :"
												rendered="#{beanInscription.tournoi.categorieTournoi.disciplineMixte}" />
										</p:column>
									</p:row>

									<p:row>
										<p:column>
											<p:selectBooleanCheckbox id="simple"
												rendered="#{beanInscription.tournoi.categorieTournoi.disciplineSimple}"
												value="#{beanInscription.inscription.categorieSimple}"
												disabled="#{!beanInscription.modificationGeneral}">

												<p:ajax event="change"
													update="panel_grid_inscr panel_grid_part"
													listener="#{beanInscription.resetSimple}" />

											</p:selectBooleanCheckbox>
											<h:panelGroup
												rendered="#{!beanInscription.tournoi.categorieTournoi.disciplineSimple}" />
										</p:column>
										<p:column>
											<p:selectBooleanCheckbox id="double"
												rendered="#{beanInscription.tournoi.categorieTournoi.disciplineDouble}"
												value="#{beanInscription.inscription.categorieDouble}"
												disabled="#{!beanInscription.modificationGeneral}">

												<p:ajax event="change"
													update="panel_grid_inscr panel_grid_part2"
													listener="#{beanInscription.resetDouble}" />

											</p:selectBooleanCheckbox>
											<h:panelGroup
												rendered="#{!beanInscription.tournoi.categorieTournoi.disciplineDouble}" />
										</p:column>
										<p:column>
											<p:selectBooleanCheckbox id="mixte"
												value="#{beanInscription.inscription.categorieMixte}"
												rendered="#{beanInscription.tournoi.categorieTournoi.disciplineMixte}"
												disabled="#{!beanInscription.modificationGeneral}">

												<p:ajax event="change"
													update="panel_grid_inscr panel_grid_part3"
													listener="#{beanInscription.resetMixte}" />

											</p:selectBooleanCheckbox>
											<h:panelGroup
												rendered="#{!beanInscription.tournoi.categorieTournoi.disciplineMixte}" />

										</p:column>
									</p:row>
								</p:panelGrid>

								<br />
								<h1 class="Fs14 Red BorderBottom TexAlLeft">Specifications</h1>

								<p:panelGrid id="panel_grid_part" style="width: 100%;"
									styleClass="ui-panelgrid-blank">

									<p:row>
										<p:column>
											<p:outputLabel id="un" value="Classement Simple :"
												rendered="#{beanInscription.inscription.categorieSimple}" />
										</p:column>
									</p:row>

									<p:row>
										<p:column>
											<p:selectOneMenu id="catsimple" required="true"
												requiredMessage="Categorie simple obligatoire"
												value="#{beanInscription.inscription.veteranSimple}"
												style="width:25px" converter="veteranConverter"
												rendered="#{beanInscription.inscription.categorieSimple and beanInscription.modificationGeneral}">
												<f:selectItem itemLabel="" itemValue="" />
												<f:selectItems
													value="#{beanInscription.listeCategorieVeterans}"
													var="classement" itemLabel="#{classement.label}"
													itemValue="#{classement}" />
												<f:attribute name="listeCategorieVeterans"
													value="#{beanInscription.listeCategorieVeterans}" />

											</p:selectOneMenu>
											<p:inputText id="classsimple_lock" maxlength="32"
												value="#{beanInscription.inscription.veteranSimple.label}"
												readonly="#{!beanInscription.modificationGeneral}"
												rendered="#{!beanInscription.modificationGeneral and beanInscription.inscription.categorieSimple}" />
										</p:column>
									</p:row>

								</p:panelGrid>
								<p:panelGrid id="panel_grid_part2" style="width: 100%;"
									styleClass="ui-panelgrid-blank">

									<p:row>
										<p:column>
											<p:outputLabel value="Classement Double :"
												rendered="#{beanInscription.inscription.categorieDouble}" />
										</p:column>

										<p:column>
											<p:outputLabel value="Partenaire Double :"
												rendered="#{beanInscription.inscription.categorieDouble}" />
										</p:column>
									</p:row>

									<p:row>
										<p:column>
											<p:selectOneMenu id="classdouble" required="true"
												requiredMessage="Categorie double obligatoire"
												value="#{beanInscription.inscription.veteranDouble}"
												style="width:25px" converter="veteranConverter"
												rendered="#{beanInscription.inscription.categorieDouble and beanInscription.modificationGeneral}">
												<f:selectItem itemLabel="" itemValue="" />
												<f:selectItems
													value="#{beanInscription.listeCategorieVeterans}"
													var="classement" itemLabel="#{classement.label}"
													itemValue="#{classement}" />
												<f:attribute name="listeCategorieVeterans"
													value="#{beanInscription.listeCategorieVeterans}" />

											</p:selectOneMenu>
											<p:inputText id="classdouble_lock" maxlength="32"
												value="#{beanInscription.inscription.veteranDouble.label}"
												readonly="#{!beanInscription.modificationGeneral}"
												rendered="#{!beanInscription.modificationGeneral and beanInscription.inscription.categorieDouble}" />
										</p:column>

										<p:column>
											<p:selectOneMenu id="pdouble" filter="true"
												filterMatchMode="contains"
												rendered="#{beanInscription.inscription.categorieDouble and beanInscription.modificationGeneral}"
												value="#{beanInscription.inscription.partenaireDouble}"
												converter="joueurConverter" required="true"
												requiredMessage="Le partenaire double est obligatoire">
												<f:selectItem itemValue=""
													itemLabel="Selectionner un partenaire" />
												<f:selectItems value="#{beanInscription.listeJoueursBySexe}"
													var="joueur" itemLabel="#{joueur.label}"
													itemValue="#{joueur}" />
												<f:attribute name="listeJoueurs"
													value="#{beanInscription.listeJoueurs}" />
											</p:selectOneMenu>
											<p:inputText id="pdouble_lock" maxlength="32"
												value="#{beanInscription.inscription.partenaireDouble.label}"
												readonly="#{!beanInscription.modificationGeneral}"
												rendered="#{!beanInscription.modificationGeneral and beanInscription.inscription.categorieDouble}" />
										</p:column>
									</p:row>
								</p:panelGrid>

								<p:panelGrid id="panel_grid_part3" style="width: 100%;"
									styleClass="ui-panelgrid-blank">
									<p:row>
										<p:column>
											<p:outputLabel value="Classement Mixte :"
												rendered="#{beanInscription.inscription.categorieMixte}" />
										</p:column>
										<p:column>
											<p:outputLabel value="Partenaire Mixte :"
												rendered="#{beanInscription.inscription.categorieMixte}" />
										</p:column>
									</p:row>

									<p:row>
										<p:column>
											<p:selectOneMenu id="classmixte" required="true"
												requiredMessage="Categorie mixte obligatoire"
												value="#{beanInscription.inscription.veteranMixte}"
												style="width:25px" converter="veteranConverter"
												rendered="#{beanInscription.inscription.categorieMixte and beanInscription.modificationGeneral}">
												<f:selectItem itemLabel="" itemValue="" />
												<f:selectItems
													value="#{beanInscription.listeCategorieVeterans}"
													var="classement" itemLabel="#{classement.label}"
													itemValue="#{classement}" />
												<f:attribute name="listeCategorieVeterans"
													value="#{beanInscription.listeCategorieVeterans}" />

											</p:selectOneMenu>
											<p:inputText id="classmixte_lock" maxlength="32"
												value="#{beanInscription.inscription.veteranMixte.label}"
												readonly="#{!beanInscription.modificationGeneral}"
												rendered="#{!beanInscription.modificationGeneral and beanInscription.inscription.categorieMixte}" />
										</p:column>
										<p:column>
											<p:selectOneMenu id="pmixte" filter="true"
												filterMatchMode="contains"
												value="#{beanInscription.inscription.partenaireMixte}"
												converter="joueurConverter" required="true"
												rendered="#{beanInscription.inscription.categorieMixte and beanInscription.modificationGeneral}"
												requiredMessage="Le partenaire mixte est obligatoire">
												<f:selectItem itemValue=""
													itemLabel="Selectionner un partenaire" />
												<f:selectItems
													value="#{beanInscription.listeJoueursSexeOppose}"
													var="joueur" itemLabel="#{joueur.label}"
													itemValue="#{joueur}" />
												<f:attribute name="listeJoueurs"
													value="#{beanInscription.listeJoueurs}" />
											</p:selectOneMenu>
											<p:inputText id="pmixte_lock" maxlength="32"
												value="#{beanInscription.inscription.partenaireMixte.label}"
												readonly="#{!beanInscription.modificationGeneral}"
												rendered="#{!beanInscription.modificationGeneral and beanInscription.inscription.categorieMixte}" />
										</p:column>
									</p:row>
								</p:panelGrid>
							</p:panel>
						</div>
					</div>
				</div>

				<div class="form-actions-general">
					<p:toolbar id="toolBarAction">
						<p:toolbarGroup align="right">
							<p:commandButton value="supprimer" icon="fa fa-bitbucket"
								action="#{beanInscription.delete}" update="form_inscription"
								styleClass="RedButton RaisedButton"
								rendered="#{(!beanInscription.modificationGeneral and p:ifAnyGranted('ADMI')) or !beanInscription.modificationGeneral and beanInscription.deleteInscr}">
								<f:param name="idTournoi" value="#{beanInscription.tournoi.id}" />
								<p:confirm header="Suppression"
									message="Confirmez vous la suppression de cette inscription ?"
									icon="ui-icon-alert" />
							</p:commandButton>
							<p:commandButton id="boutton_modify" value="modifier"
								icon="fa fa-pencil"
								action="#{beanInscription.setModificationGeneral(true)}"
								update="form_inscription" styleClass="OrangeButton RaisedButton"
								rendered="#{(!beanInscription.modificationGeneral and p:ifAnyGranted('ADMI')) or !beanInscription.modificationGeneral and beanInscription.deleteInscr}">
								<p:ajax listener="#{beanInscription.findAllJoueursBySexe}"
									update="panel_grid_part2 panel_grid_part3" />

								<p:ajax listener="#{beanInscription.externeDouble}"
									update="panel_grid_part2 panel_grid_part3" />

								<p:ajax listener="#{beanInscription.externeMixte}"
									update="panel_grid_part2 panel_grid_part3" />
							</p:commandButton>
							<p:defaultCommand target="boutton_modify" />

							<p:commandButton value="annuler" icon="fa fa-ban"
								action="#{beanInscription.annuler}" update="form_inscription"
								styleClass="RedButton RaisedButton"
								rendered="#{beanInscription.modificationGeneral and beanInscription.inscription.id != null}"
								process="@this">
								<p:ajax update="panel_inscription" resetValues="true" />
							</p:commandButton>

							<p:button value="annuler" icon="fa fa-ban" outcome="TOURNOI"
								styleClass="RedButton RaisedButton"
								rendered="#{beanInscription.modificationGeneral and beanInscription.inscription.id == null}">
								<f:param name="idTournoi" value="#{beanInscription.tournoi.id}" />
							</p:button>

							<p:commandButton id="boutton_save" value="enregistrer"
								icon="fa fa-check" action="#{beanInscription.save}"
								update="form_inscription" styleClass="GreenButton RaisedButton"
								rendered="#{beanInscription.modificationGeneral}" />
							<p:defaultCommand target="boutton_save" />
						</p:toolbarGroup>
					</p:toolbar>
				</div>
			</h:form>

			<h:form id="form_dialog_add_externe">
				<pc:messages id="messages2" />
				<p:dialog id="dlg_add_externe" header="Ajouter un joueur externe"
					widgetVar="dlg_add_externe" modal="true" closeOnEscape="true"
					responsive="true">

					<p:ajax event="open"
						listener="#{beanInscription.openDialogExterne}" />

					<p:ajax event="close" update="@this"
						listener="#{beanInscription.initDialogExterne}" resetValues="true" />


					<p:panelGrid style="width: 100%;" styleClass="ui-panelgrid-blank">


						<p:row>
							<p:column>
								<p:outputLabel value="Nom joueur : " />
							</p:column>

							<p:column>
								<p:outputLabel value="Licence joueur: " />
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<p:inputText id="nom" maxlength="32"
									value="#{beanInscription.joueurExterne.nomJoueur}"
									readonly="#{!beanInscription.modificationGeneral}"
									required="true" requiredMessage="Nom obligatoire" />

							</p:column>

							<p:column>
								<p:inputText id="licence" maxlength="32"
									value="#{beanInscription.joueurExterne.licenceJoueur}"
									readonly="#{!beanInscription.modificationGeneral}"
									required="true" requiredMessage="licence obligatoire" />
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<p:outputLabel value="Sexe : " />
							</p:column>
							<p:column>
								<p:outputLabel value="Age : " />
							</p:column>
							<p:column>
								<p:outputLabel value="Club : " />
							</p:column>
						</p:row>

						<p:row>
							<p:column>
								<p:selectOneMenu id="sexe"
									value="#{beanInscription.joueurExterne.sexeJoueur}"
									rendered="#{beanInscription.modificationGeneral}"
									required="true" requiredMessage="Sexe obligatoire">
									<f:selectItem itemLabel="" itemValue="" />
									<f:selectItem itemLabel="Homme" itemValue="Homme" />
									<f:selectItem itemLabel="Femme" itemValue="Femme" />
								</p:selectOneMenu>
							</p:column>
							<p:column>
								<p:inputText id="age" maxlength="3"
									value="#{beanInscription.joueurExterne.ageJoueur}"
									rendered="#{beanInscription.modificationGeneral}"
									required="true" />
							</p:column>
							<p:column>
								<p:selectOneMenu id="club"
									value="#{beanInscription.joueurExterne.club}"
									style="width:125px" converter="clubConverter"
									rendered="#{beanInscription.modificationGeneral}">
									<f:selectItem itemLabel="" itemValue="" />
									<f:selectItems value="#{beanInscription.listeClubs}" var="club"
										itemLabel="#{club.label}" itemValue="#{club}" />
									<f:attribute name="listeClub"
										value="#{beanInscription.listeClubs}" />
								</p:selectOneMenu>
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<p:outputLabel value="Classement simple: " />
							</p:column>
							<p:column>
								<p:outputLabel value="Classement double: " />
							</p:column>
							<p:column>
								<p:outputLabel value="Classement mixte: " />
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<p:selectOneMenu id="classementSimple"
									value="#{beanInscription.joueurExterne.classementSimple}"
									style="width:125px" converter="classementConverter"
									rendered="#{beanInscription.modificationGeneral}">
									<f:selectItem itemLabel="" itemValue="" />
									<f:selectItems value="#{beanInscription.listeClassements}"
										var="classement" itemLabel="#{classement.label}"
										itemValue="#{classement}" />
									<f:attribute name="listeClassement"
										value="#{beanInscription.listeClassements}" />
								</p:selectOneMenu>
							</p:column>
							<p:column>
								<p:selectOneMenu id="classementDouble"
									value="#{beanInscription.joueurExterne.classementDouble}"
									style="width:125px" converter="classementConverter"
									rendered="#{beanInscription.modificationGeneral}">
									<f:selectItem itemLabel="" itemValue="" />
									<f:selectItems value="#{beanInscription.listeClassements}"
										var="classement" itemLabel="#{classement.label}"
										itemValue="#{classement}" />
									<f:attribute name="listeClassement"
										value="#{beanInscription.listeClassements}" />
								</p:selectOneMenu>
							</p:column>
							<p:column>
								<p:selectOneMenu id="classementMixte"
									value="#{beanInscription.joueurExterne.classementMixte}"
									style="width:125px" converter="classementConverter"
									rendered="#{beanInscription.modificationGeneral}">
									<f:selectItem itemLabel="" itemValue="" />
									<f:selectItems value="#{beanInscription.listeClassements}"
										var="classement" itemLabel="#{classement.label}"
										itemValue="#{classement}" />
									<f:attribute name="listeClassement"
										value="#{beanInscription.listeClassements}" />
								</p:selectOneMenu>
							</p:column>
						</p:row>
					</p:panelGrid>
					<f:facet name="footer">

						<p:commandButton id="add_externe" value="Ajouter"
							oncomplete="handleAddDocumentRequest(xhr, status, args)"
							action="#{beanInscription.saveExterne}" ajax="false"
							update="form_inscription">
						</p:commandButton>
					</f:facet>

				</p:dialog>
			</h:form>

		</security:authorize>

		<security:authorize access="!hasAnyRole('ADMI' , 'JOU')">

			<ui:include src="/jsf/error/access-denied.xhtml" />

		</security:authorize>
	</ui:define>

</ui:composition>
