<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pc="http://java.sun.com/jsf/composite/custom_component"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:security="http://www.springframework.org/security/tags"
	template="/WEB-INF/template.xhtml">

	<ui:define name="titre"> - Tournois</ui:define>

	<ui:define name="subheader">
		<p:breadCrumb>
			<p:menuitem value="Page d'accueil" outcome="ACCUEIL" />
			<p:menuitem value="Index" outcome="INDEX_INSCRIPTION" />
		</p:breadCrumb>
		<h3>
			<h:outputText value="Liste des tournois" />
		</h3>
	</ui:define>


	<ui:define name="content">

		<script type="text/javascript">
			
		</script>


		<security:authorize access="hasAnyRole('ADMI', 'TOURN')">

			<div class="Container100">
				<div class="ContainerIndent">
					<div class="Card ShadowEffect TexAlCenter">


						<p:dataTable id="table_tournois" var="tournois"
							value="#{beanListeTournois.listetournois}"
							emptyMessage="Aucun tournois" rows="10" paginator="true"
							paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rowsPerPageTemplate="10,20,30" selectionMode="single"
							selection="#{beanListeTournois.selectedTournoi}"
							rowKey="#{tournois.id}" sortBy="#{tournois.dateTournoi}"
							sortOrder="DESCENDING">

							<p:ajax event="rowSelect" update="toolBarAction"
								listener="#{beanListeTournois.onRowSelect}" />

							<p:ajax event="rowUnselect"
								listener="#{beanListeTournois.onRowUnselect}"
								update="toolBarAction" />

							<p:ajax event="rowDblselect"
								listener="#{beanListeTournois.onRowSelect}"
								update="toolBarAction"
								oncomplete="$('#boutton_consult').click();" />

							<p:column headerText="Nom">
								<h:outputText value="#{tournois.libelleTournoi}" />
							</p:column>

							<p:column headerText="Lieu">
								<h:outputText value="#{tournois.lieuTournoi}" />
							</p:column>

							<p:column headerText="Date">
								<h:outputText value="#{tournois.dateTournoi}">
									<f:convertDateTime pattern="dd/MM/yyyy" timeZone="Europe/Paris" />
								</h:outputText>
							</p:column>

							<p:column headerText="Categorie">
								<h:outputText value="Veteran"
									rendered="#{tournois.categorieTournoi.categorieVeteran}" />
								<h:outputText value="Senior"
									rendered="#{tournois.categorieTournoi.categorieSenior}" />
							</p:column>


							<p:column headerText="Inscriptions">
								<h:outputText rendered="#{tournois.lock}"
									styleClass="fa fa-check Green Fs20" />
								<h:outputText rendered="#{!tournois.lock}"
									styleClass="fa fa-lock Red Fs20" />
							</p:column>

						</p:dataTable>

						<br /> <br />

						<h:outputText value=" Inscriptions ouvertes"
							styleClass="fa fa-check Green Fs20" />

						<h:outputText value="&#160;" />
						<h:outputText value="&#160;" />
						<h:outputText value="&#160;" />
						<h:outputText value="&#160;" />


						<h:outputText value=" Inscriptions fermées"
							styleClass="fa fa-lock Red Fs20" />
					</div>
				</div>
			</div>


			<div class="form-actions-general">
				<p:toolbar id="toolBarAction">
					<p:toolbarGroup align="right">
						<p:button value="ajouter" icon="fa fa-plus" outcome="TOURNOI"
							styleClass="RaisedButton"
							rendered="#{p:ifAnyGranted('ADMI, TOURN')}" />

						<p:separator
							rendered="#{beanListeTournois.selectedTournoi != null  and p:ifAnyGranted('ADMI, TOURN')}" />

						<p:button id="boutton_consult" value="consulter"
							icon="fa fa-file-o"
							rendered="#{beanListeTournois.selectedTournoi != null}"
							styleClass="GrayButton RaisedButton" outcome="TOURNOI">
							<f:param name="idTournoi"
								value="#{beanListeTournois.selectedTournoi.id}" />
						</p:button>
					</p:toolbarGroup>
				</p:toolbar>
			</div>



		</security:authorize>

		<security:authorize access="!hasAnyRole('ADMI', 'TOURN')">

			<ui:include src="/jsf/error/access-denied.xhtml" />

		</security:authorize>
	</ui:define>

</ui:composition>
