<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pc="http://java.sun.com/jsf/composite/custom_component"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:security="http://www.springframework.org/security/tags"
	template="/WEB-INF/template.xhtml">

	<ui:define name="titre"> - Bloc Clubs</ui:define>

	<ui:define name="subheader">
		<p:breadCrumb>
			<p:menuitem value="Page d'accueil" outcome="ACCUEIL" />
			<p:menuitem value="Index" outcome="INDEX_INSCRIPTION" />
			<p:menuitem value="Liste clubs" outcome="LISTE_CLUBS" />
		</p:breadCrumb>
	</ui:define>


	<ui:define name="content">

		<script type="text/javascript">
			
		</script>

		<security:authorize access="hasAnyRole('ADMI')">

			<h:form id="form_club">

				<pc:messages id="messages" />

				<div class="Container100">
					<div class="ContainerIndent">

						<div class="Card ShadowEffect">

							<p:panel id="panel_club" style="text-align;"
								header="#{beanClub.libelleHeader}">

								<p:panelGrid style="width: 100%;"
									styleClass="ui-panelgrid-blank">
									<p:row>
										<p:column>
											<p:outputLabel value="Nom Club : " for="nom" />
										</p:column>
										<p:column>
											<p:outputLabel value="Ville Club : " for="ville" />
										</p:column>
										<p:column>
											<p:outputLabel value="Abreviation Club : " for="abrev" />
										</p:column>
									</p:row>

									<p:row>

										<p:column>
											<p:inputText id="nom" maxlength="32" styleClass="Container80"
												value="#{beanClub.club.nomClub}"
												readonly="#{!beanClub.modificationGeneral}" required="true"
												requiredMessage="Nom club obligatoire" />
											<p:message for="nom" display="tooltip" />
										</p:column>
										<p:column>
											<p:inputText id="ville" maxlength="32"
												value="#{beanClub.club.villeClub}"
												readonly="#{!beanClub.modificationGeneral}" required="true"
												requiredMessage="ville club obligatoire" />
											<p:message for="ville" display="tooltip" />
										</p:column>
										<p:column>
											<p:inputText id="abrev" maxlength="32"
												value="#{beanClub.club.abrevClub}"
												readonly="#{!beanClub.modificationGeneral}" required="true"
												requiredMessage="abreviation obligatoire" />
											<p:message for="abrev" display="tooltip" />
										</p:column>
									</p:row>
								</p:panelGrid>
							</p:panel>
						</div>
					</div>
				</div>


				<div class="form-actions-general">
					<p:toolbar id="toolBarAction">
						<p:toolbarGroup align="right">

							<p:commandButton value="supprimer" icon="fa fa-bitbucket"
								action="#{beanClub.delete}" update="form_club messages"
								styleClass="RedButton RaisedButton"
								rendered="#{!beanClub.modificationGeneral and p:ifAnyGranted('ROLE_ADMI')}">
								<p:confirm header="Suppression"
									message="Confirmez vous la suppression de ce club ?"
									icon="ui-icon-alert" />
							</p:commandButton>

							<p:separator
								rendered="#{!beanClub.modificationGeneral and p:ifAnyGranted('ADMI')}" />

							<p:commandButton id="boutton_modify" value="modifier"
								icon="fa fa-pencil"
								action="#{beanClub.setModificationGeneral(true)}"
								update="form_club" styleClass="OrangeButton RaisedButton"
								rendered="#{!beanClub.modificationGeneral}" />
							<p:defaultCommand target="boutton_modify" />

							<p:commandButton value="annuler" icon="fa fa-ban"
								action="#{beanClub.annuler}" update="form_club"
								styleClass="RedButton RaisedButton"
								rendered="#{beanClub.modificationGeneral and beanClub.club.id != null}"
								process="@this">
								<p:ajax update="panel_club" resetValues="true" />
							</p:commandButton>

							<p:button value="annuler" icon="fa fa-ban" outcome="LISTE_CLUBS"
								styleClass="RedButton RaisedButton"
								rendered="#{beanClub.modificationGeneral and beanClub.club.id == null}" />

							<p:separator
								rendered="#{beanClub.modificationGeneral and p:ifAnyGranted('ADMI')}" />

							<p:commandButton id="boutton_save" value="enregistrer"
								icon="fa fa-check" action="#{beanClub.save}" update="form_club"
								styleClass="GreenButton RaisedButton"
								rendered="#{beanClub.modificationGeneral}" />

							<p:defaultCommand target="boutton_save" />
						</p:toolbarGroup>
					</p:toolbar>
				</div>

			</h:form>


		</security:authorize>

		<security:authorize access="!hasAnyRole('ADMI')">

			<ui:include src="/jsf/error/access-denied.xhtml" />

		</security:authorize>
	</ui:define>

</ui:composition>