<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pc="http://java.sun.com/jsf/composite/custom_component"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:security="http://www.springframework.org/security/tags"
	template="/WEB-INF/template.xhtml">

	<ui:define name="titre"> - Clubs</ui:define>

	<ui:define name="subheader">
		<p:breadCrumb>
			<p:menuitem value="Page d'accueil" outcome="ACCUEIL" />
			<p:menuitem value="Index" outcome="INDEX_INSCRIPTION" />
		</p:breadCrumb>
		<h3>
			<h:outputText value="Liste des clubs" />
		</h3>
	</ui:define>


	<ui:define name="content">

		<script type="text/javascript">
			$(document).ready(function() {
				jQuery("#form_recherche").toggle();
			});
		</script>

		<security:authorize access="hasAnyRole('ADMI')">

			<div id="container_filter" class="Container40 icon_recherche">

				<div class="ContainerIndent">

					<div class="Card ShadowEffect HeiAutoOnMobile OvHidden">
						<div class="Container100 Responsive100"
							style="margin: 0px 10px 10px -10px; padding: 0px 10px;">
							<div class="SoftOrangeBack DispInlBlock Fleft"
								style="margin: -10px 20px -10px -10px; padding: 20px 10px;">
								<a href="#" onclick="toggleDivClick();"><i
									class="icon-search Orange Fs50"></i></a>
							</div>
							<p></p>

							<h:form id="form_recherche">

								<p:panelGrid styleClass="ui-panelgrid-blank" style="width: 80%;">

									<p:row>
										<p:column>
											<span class="Gray FontRobotoLight Fs20">Nom</span>
										</p:column>
										<p:column>
											<span class="Gray FontRobotoLight Fs20">Ville</span>
										</p:column>
									</p:row>

									<p:row>
										<p:column>
											<p:inputText id="nom"
												value="#{beanListeClubs.filtre.nomClub}" />
											<p:message for="nom" display="tooltip" />
										</p:column>

										<p:column>
											<p:inputText id="ville"
												value="#{beanListeClubs.filtre.villeClub}" />
											<p:message for="ville" display="tooltip" />
										</p:column>
									</p:row>
								</p:panelGrid>

								<div class="CardFooter">
									<span class="CardFooterBtn Gray BorderLeft Fright ripplelink"><p:commandButton
											value="rechercher" action="#{beanListeClubs.rechercher}"
											oncomplete="toggleDiv(xhr, status, args);"
											update="table_clubs"
											styleClass="OrangeButton Fright FloatNoneOnMobile" /></span>
								</div>
							</h:form>
						</div>
					</div>
				</div>
			</div>

			<div class="Container100">
				<div class="ContainerIndent">
					<div class="Card ShadowEffect TexAlCenter">

						<p:dataTable id="table_clubs" var="clubs"
							value="#{beanListeClubs.listeClubs}" emptyMessage="Aucun clubs"
							rows="10" paginator="true"
							paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rowsPerPageTemplate="10,20,30" selectionMode="single"
							selection="#{beanListeClubs.selectedClub}" rowKey="#{clubs.id}">

							<p:ajax event="rowSelect" update="toolBarAction"
								listener="#{beanListeClubs.onRowSelect}" />

							<p:ajax event="rowUnselect"
								listener="#{beanListeClubs.onRowUnselect}"
								update="toolBarAction" />

							<p:ajax event="rowDblselect"
								listener="#{beanListeClubs.onRowSelect}" update="toolBarAction"
								oncomplete="$('#boutton_consult').click();" />

							<p:column headerText="Nom">
								<h:outputText value="#{clubs.nomClub}" />
							</p:column>

							<p:column headerText="Ville">
								<h:outputText value="#{clubs.villeClub}" />
							</p:column>

							<p:column headerText="Abreviation">
								<h:outputText value="#{clubs.abrevClub}" />
							</p:column>

						</p:dataTable>

					</div>
				</div>
			</div>


			<div class="form-actions-general">
				<p:toolbar id="toolBarAction">
					<p:toolbarGroup align="right">
						<p:button value="ajouter" icon="fa fa-plus" outcome="CLUB"
							styleClass="RaisedButton" />

						<p:separator
							rendered="#{beanListeClubs.selectedClub != null  and p:ifAnyGranted('ADMI')}" />
							
						<p:button id="boutton_consult" value="consulter"
							icon="fa fa-file-o"
							rendered="#{beanListeClubs.selectedClub != null}"
							styleClass="GrayButton RaisedButton" outcome="CLUB">
							<f:param name="idClub" value="#{beanListeClubs.selectedClub.id}" />
						</p:button>
					</p:toolbarGroup>
				</p:toolbar>
			</div>



		</security:authorize>

		<security:authorize access="!hasAnyRole('ADMI')">

			<ui:include src="/jsf/error/access-denied.xhtml" />

		</security:authorize>
	</ui:define>

</ui:composition>
