<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pc="http://java.sun.com/jsf/composite/custom_component"
	xmlns:security="http://www.springframework.org/security/tags"
	template="/WEB-INF/template.xhtml">


	<ui:define name="titre"> - UTILITAIRES</ui:define>


	<ui:define name="subheader">

		<p:breadCrumb>
			<p:menuitem value="Page d'accueil" outcome="ACCUEIL" />
		</p:breadCrumb>

	</ui:define>

	<ui:define name="content">

		<security:authorize access="hasAnyRole('ADMI')">

			<h:form id="formImport">

				<pc:messages id="messages" />
				<div class="Container100">

					<div class="ContainerIndent">

						<div class="Card ShadowEffect">


							<br />
							<h1 class="Fs14 Red BorderBottom TexAlLeft">Import
								Utilisateurs</h1>
							<p:panelGrid style="width: 50%;" styleClass="ui-panelgrid-blank">

								<p:row>
									<p:column>
										<p:outputLabel id="outputlabel_joueurs"
											value="Fichier : #{beanConfiguration.nameFileDonnees}" />
									</p:column>
									<p:column>
										<p:outputLabel id="dl" value="Telecharger matrice excel" />
									</p:column>
								</p:row>

								<p:row>
									<p:column>
										<p:fileUpload
											fileUploadListener="#{beanConfiguration.handleFileUpload}"
											mode="advanced" auto="true" update="outputlabel_joueurs" />
									</p:column>
									<p:column>
										<p:commandButton
											onclick="PrimeFaces.monitorDownload(startNonAjaxLoad, stopNonAjaxLoad);"
											icon="fa fa-cloud-download" styleClass="outline-btn"
											title="download"
											actionListener="#{beanConfiguration.exportDonneesDownload}"
											ajax="false" action="EXPORT_DONNEES">
											<p:fileDownload value="#{beanConfiguration.fileExport}" />
										</p:commandButton>
									</p:column>
								</p:row>

								<p:row>
									<p:column>
										<p:commandButton value="Commencer import" styleClass="Wid50"
											actionListener="#{beanConfiguration.importTourneeHisto()}"
											update="formImport" async="true"
											onstart="PF('poll_not_timeout').start();PF('statusDialogGif').show();"
											oncomplete="PF('poll_not_timeout').stop();PF('statusDialogGif').hide();" />
									</p:column>
								</p:row>

							</p:panelGrid>

							<p:panelGrid styleClass="ui-panelgrid-blank" style="width: 50%;"
								columns="1"
								rendered="#{beanConfiguration.toSaveReady and !beanConfiguration.enCourSave}">
								<h1 class="Fs14 Red BorderBottom TexAlLeft"></h1>

								<p:dataTable var="user" scrollable="true" scrollHeight="200"
									value="#{beanConfiguration.listeUsersToSave}"
									emptyMessage="Aucun joueurs">


									<p:column headerText="Compte">
										<h:outputText value="#{user.nom}" />
									</p:column>

									<p:column headerText="Nom Joueur">
										<h:outputText value="#{user.joueur.label}" />
									</p:column>

									<p:column headerText="Sexe">
										<h:outputText value="#{user.joueur.sexeJoueur}" />
									</p:column>

								</p:dataTable>



							</p:panelGrid>
							<br />
							<p:commandButton value="Annuler" icon="fa fa-reply"
								action="#{beanConfiguration.annuler}" update="formImport"
								rendered="#{beanConfiguration.toSaveReady}" process="@this"
								styleClass="RedButton">
								<p:ajax update="formImport" resetValues="true" />
							</p:commandButton>

							<p:commandButton id="btn_valider" value="Sauvegarder les données"
								icon="fa fa-plus" update="formImport messages"
								styleClass="GreenButton"
								actionListener="#{beanConfiguration.saveDonnee}"
								rendered="#{beanConfiguration.toSaveReady and !beanConfiguration.enCourSave}" />
							<p:defaultCommand target="btn_valider" />
						</div>
					</div>
				</div>
			</h:form>
		</security:authorize>

		<security:authorize access="!hasAnyRole('ADMI')">

			<ui:include src="/jsf/error/access-denied.xhtml" />

		</security:authorize>

	</ui:define>

</ui:composition>
