<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:security="http://www.springframework.org/security/tags"
	template="/WEB-INF/template.xhtml">

	<ui:define name="titre"> - TEST GLOBAL APPLICATION</ui:define>

	<ui:define name="subheader">
		<p:breadCrumb>
			<p:menuitem value="Page d'accueil" outcome="ACCUEIL" />
		</p:breadCrumb>
		<h3>
			<h:outputText value="Test global application" />
		</h3>
	</ui:define>

	<ui:define name="content">

		<security:authorize access="hasAnyRole('ADMI')">


			<p:fieldset legend="Test Global Application" style="width: 80%;"
				styleClass="fieldSetGlobal">

				<p:messages id="messages" showDetail="false"
					closable="true" />

				<!-- 				<p:commandButton value="Dummy Ajax Request" update="@form" />  -->
				<p:lifecycle id="life_cycle" />


				<h:form id="test_global_application">


					<br />
					<br />

					<p:poll interval="20" update="test_global_application" />

					<h:panelGrid columns="6">

						<h:outputLabel value="OS Name : " />
						<h:outputText id="os_name"
							value="#{beanTestGlobalApplication.osName}"
							style="margin-right: 50px;" />

						<h:outputLabel value="OS Version : " />
						<h:outputText id="os_version"
							value="#{beanTestGlobalApplication.osVersion}"
							style="margin-right: 50px;" />

						<h:outputLabel value="Java Version : " />
						<h:outputText id="java_version"
							value="#{beanTestGlobalApplication.javaVersion}"
							style="margin-right: 50px;" />

						<h:outputLabel value="Free Memory : " />
						<h:outputText id="freeMemory"
							value="#{beanTestGlobalApplication.freeMemory} Mo"
							style="margin-right: 50px;" />

						<h:outputLabel value="Total Memory : " />
						<h:outputText id="totalMemory"
							value="#{beanTestGlobalApplication.totalMemory} Mo"
							style="margin-right: 50px;" />

						<h:outputLabel value="Memory Libre : " />
						<h:outputText id="pourcentMemoryLibre"
							value="#{beanTestGlobalApplication.pourcentMemoryLibre} %"
							style="margin-right: 50px;" />
					</h:panelGrid>
					<br />
					<h:panelGrid columns="2">

						<h:outputLabel value="Etat BD : " style="width: 200px;" />
						<h:outputText id="code_ok" value="OK"
							rendered="#{beanTestGlobalApplication.testBD}"
							style="color: green" />
						<h:outputText id="code_ko" value="KO"
							rendered="#{! beanTestGlobalApplication.testBD}"
							style="color: red" />

						<h:outputLabel value="Acces Accueil : " style="width: 200px;" />
						<h:outputText id="testURLAccueil_ok" value="OK"
							rendered="#{beanTestGlobalApplication.testURLAccueil}"
							style="color: green" />
						<h:outputText id="testURLAccueil_ko" value="KO"
							rendered="#{! beanTestGlobalApplication.testURLAccueil}"
							style="color: red" />

						<!-- 						<h:outputLabel value="Acces Empowerment : " style="width: 200px;" /> -->
						<!-- 						<h:outputText id="testURLEmpowerment_ok" value="OK" -->
						<!-- 							rendered="#{beanTestGlobalApplication.testURLEmpowerment}" -->
						<!-- 							style="color: green" /> -->
						<!-- 						<h:outputText id="testURLEmpowerment_ko" value="KO" -->
						<!-- 							rendered="#{! beanTestGlobalApplication.testURLEmpowerment}" -->
						<!-- 							style="color: red" /> -->

						<!-- 						<h:outputLabel value="Acces Technical : " style="width: 200px;" /> -->
						<!-- 						<h:outputText id="testURLtestURLTechnical_ok" value="OK" -->
						<!-- 							rendered="#{beanTestGlobalApplication.testURLTechnical}" -->
						<!-- 							style="color: green" /> -->
						<!-- 						<h:outputText id="testURLtestURLTechnical_ko" value="KO" -->
						<!-- 							rendered="#{! beanTestGlobalApplication.testURLTechnical}" -->
						<!-- 							style="color: red" /> -->

						<!-- 						<h:outputLabel value="Acces Pricing : " style="width: 200px;" /> -->
						<!-- 						<h:outputText id="testURLPricing_ok" value="OK" -->
						<!-- 							rendered="#{beanTestGlobalApplication.testURLPricing}" -->
						<!-- 							style="color: green" /> -->
						<!-- 						<h:outputText id="testURLPricing_ko" value="KO" -->
						<!-- 							rendered="#{! beanTestGlobalApplication.testURLPricing}" -->
						<!-- 							style="color: red" /> -->

						<!-- 						<h:outputLabel value="Acces Billing : " style="width: 200px;" /> -->
						<!-- 						<h:outputText id="testURLBilling_ok" value="OK" -->
						<!-- 							rendered="#{beanTestGlobalApplication.testURLBilling}" -->
						<!-- 							style="color: green" /> -->
						<!-- 						<h:outputText id="testURLBillingl_ko" value="KO" -->
						<!-- 							rendered="#{! beanTestGlobalApplication.testURLBilling}" -->
						<!-- 							style="color: red" /> -->

						<!-- 						<h:outputLabel value="Acces CustomerContract : " -->
						<!-- 							style="width: 200px;" /> -->
						<!-- 						<h:outputText id="testURLCustomerContract_ok" value="OK" -->
						<!-- 							rendered="#{beanTestGlobalApplication.testURLCustomerContract}" -->
						<!-- 							style="color: green" /> -->
						<!-- 						<h:outputText id="testURLCustomerContract_ko" value="KO" -->
						<!-- 							rendered="#{! beanTestGlobalApplication.testURLCustomerContract}" -->
						<!-- 							style="color: red" /> -->

					</h:panelGrid>

					<br />
					<br />
					<h:outputLabel value="Number sessions authenticate : "
						style="width: 240px;" />
					<h:outputText id="nbr_user_connect"
						value="#{beanTestGlobalApplication.nbrUserConnect}" />
					<!-- 					<a href="mailto:#{beanTestGlobalApplication.listeMailUserConnect}"><h:outputText -->
					<!-- 							value="[Send mail user(s) connect]" /></a> -->
					<br />
					<p:dataTable var="user"
						value="#{beanTestGlobalApplication.listUsersConnect}"
						sortBy="#{user.username}">
						<p:column headerText="UserName">
							<h:outputText value="#{user.username}" />
						</p:column>
						<p:column headerText="Role">
							<h:outputText value="#{user.authorities}" />
						</p:column>
						<!-- 						<p:column headerText="lastRequest"> -->
						<!-- 							<h:outputText value="#{user.lastRequest}" /> -->
						<!-- 						</p:column> -->
						<!-- 						<p:column headerText="detail"> -->
						<!-- 							<h:outputText value="#{user.detailReseau}" /> -->
						<!-- 						</p:column> -->

						<!-- 						<p:column headerText="Email"> -->
						<!-- 							<h:outputText value="#{user.email}" /> -->
						<!-- 						</p:column> -->
						<p:column style="width:32px;text-align: center">
							<p:commandButton update=":sessionsDetail :dialogSessionDetail"
								oncomplete="PF('sessionDialog').show()" icon="ui-icon-search"
								title="View"
								actionListener="#{beanTestGlobalApplication.selectedUser(user)}">
							</p:commandButton>
						</p:column>
					</p:dataTable>
				</h:form>

			</p:fieldset>

			<p:dialog id="dialogSessionDetail"
				header="Session info user : #{beanTestGlobalApplication.userSelect.username} "
				widgetVar="sessionDialog" modal="true" showEffect="fade"
				hideEffect="fade" resizable="false">

				<p:dataTable id="sessionsDetail" var="sessionInfo"
					value="#{beanTestGlobalApplication.listSessionsInfoByUserSelect}">

					<p:column headerText="Id">
						<h:outputText value="#{sessionInfo.sessionId}" />
					</p:column>

					<p:column headerText="Expired">
						<h:outputText value="#{sessionInfo.expired}" />
					</p:column>

					<p:column headerText="Last Request">
						<h:outputText value="#{sessionInfo.lastRequest}" />
					</p:column>

				</p:dataTable>
			</p:dialog>

		</security:authorize>

		<security:authorize access="!hasAnyRole('ADMI')">

			<ui:include src="/jsf/error/access-denied.xhtml" />

		</security:authorize>


	</ui:define>

</ui:composition>
