<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<title>Les volants de Calvisson</title>
	<ui:insert name="head" />
</h:head>

<h:body class="#{'BlueModena'} Geometry">

	<h:form id="form" prependId="false"
		onsubmit="document.#{p:component('form')}.action='#{request.contextPath}/login';">

		<div class="Wid90 DispBlock MarAuto MarTopPerc5 TexAlCenter">
			<div class="Wid33 MarAuto WidAutoOnMobile">
				<h:graphicImage name="logo.png" library="images"
					style="width:40%; max-width:200px;" />
				<div class="EmptyBox30"></div>
				<div class="Card ShadowEffect">

					<!-- 					<h:graphicImage name="girlande_noel.png" library="images" -->
					<!-- 						style="width:40%; max-width:200px; position: absolute; transform: rotate(30deg);margin-left: 60px; margin-top: 18px;" /> -->

					<div class="EmptyBox20"></div>
					<div class="Wid100 OvHidden BigTopic Fs30">
						<i class="icon-security Fs60 DispBlock"></i>Authentification <br />
						<span class="Fs18 FontRobotoLight"></span>
					</div>
					<div class="EmptyBox30"></div>

					<c:if test="#{param.errorConnection}">

						<div class="Wid100 BigTopic">
							<span class="ui-messages-fatal">Nom utilisateur ou mot de
								passe invalide</span>
						</div>
						<div class="EmptyBox30"></div>

					</c:if>

					<c:if test="#{param.expired}">

						<div class="Wid100 BigTopic">
							<span class="ui-messages-info">Veuillez vous reconnecter !</span>
						</div>
						<div class="EmptyBox30"></div>
					</c:if>

					<c:if test="#{param.logout}">

						<div class="Wid100 BigTopic">
							<span class="ui-messages-info">Vous êtes bien déconnecté !</span>
						</div>
						<div class="EmptyBox30"></div>
					</c:if>

					<div class="Wid100">
						<p:inputText id="j_username" name="j_username"
							placeholder="Code utilisateur"
							styleClass="Wid80 TexAlCenter Fs18" />
					</div>
					<div class="EmptyBox10"></div>
					<div class="Wid100">
						<p:inputText type="password" id="j_password" name="j_password"
							placeholder="Mot de passe" styleClass="Wid80 TexAlCenter Fs18" />
					</div>
					<div class="EmptyBox30"></div>
					<div class="Wid100">
						<input type="hidden" name="${_csrf.parameterName}"
							value="${_csrf.token}" />

						<p:commandButton id="valider"
							styleClass="BlueButton Fs18 White RaisedButton" value="Valider"
							update="form" ajax="false" />


					</div>
					<div class="EmptyBox20"></div>
				</div>
			</div>
		</div>
		
<!-- 			<p:link outcome="MENTIONS" value="Mentions légales" style="text-align:center; bottom:1"/> -->
	

	</h:form>

	<h:outputStylesheet name="css/core-layout.css" library="modena-layout" />
	<h:outputStylesheet name="css/animate.css" library="modena-layout" />
	<h:outputStylesheet name="css/modena-font.css" library="modena-layout" />
	<h:outputStylesheet name="css/ripple-effect.css"
		library="modena-layout" />
	<h:outputStylesheet name="css/font-awesome.css" library="modena-layout" />
	<h:outputStylesheet name="css/modena-layout.css"
		library="modena-layout" />
</h:body>

</html>