<!-- <!DOCTYPE html> -->
<!-- <html xmlns="http://www.w3.org/1999/xhtml" -->
<!-- 	xmlns:h="http://java.sun.com/jsf/html" -->
<!-- 	xmlns:f="http://java.sun.com/jsf/core" -->
<!-- 	xmlns:ui="http://java.sun.com/jsf/facelets" -->
<!-- 	xmlns:p="http://primefaces.org/ui" -->
<!-- 	xmlns:c="http://java.sun.com/jsp/jstl/core"> -->

<!-- <h:head> -->
<!-- 	<f:facet name="first"> -->
<!-- 		<meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->
<!-- 		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> -->
<!-- 		<meta name="viewport" -->
<!-- 			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" /> -->
<!-- 		<meta name="apple-mobile-web-app-capable" content="yes" /> -->
<!-- 	</f:facet> -->
<!-- 	<title>Les Volants de Calvisson</title> -->
<!-- 	<ui:insert name="head" /> -->
<!-- </h:head> -->

<!-- <h:body class="#{'GrayModena'} Geometry"> -->



<!-- 	<div class="Wid90 DispBlock MarAuto MarTopPerc5 TexAlCenter"> -->

<!-- 		<h:graphicImage name="logo.png" library="images" -->
<!-- 			style="width:40%; max-width:200px;" /> -->


<!-- 		<h:form id="form_inscription"> -->



<!-- 			<div class="Container100"> -->
<!-- 				<div class="ContainerIndent"> -->

<!-- 					<div class="Card ShadowEffect"> -->

<!-- 						<p:panel id="panel_inscription" style="text-align;" -->
<!-- 							header="Inscription"> -->

<!-- 							<p:panelGrid style="width: 100%;" styleClass="ui-panelgrid-blank"> -->
<!-- 								<p:row> -->
<!-- 									<p:column> -->
<!-- 										<p:outputLabel value="Nom d'utilisateur : " for="user" /> -->
<!-- 									</p:column> -->
<!-- 									<p:column> -->
<!-- 										<p:outputLabel value="Mot de passe : " for="password" /> -->
<!-- 									</p:column> -->
<!-- 								</p:row> -->

<!-- 								<p:row> -->
<!-- 									<p:column> -->
<!-- 										<p:inputText id="user" maxlength="32" -->
<!-- 											value="#{beanLogin.user.nom}" required="true" -->
<!-- 											requiredMessage="Nom obligatoire" /> -->
<!-- 										<p:message for="user" display="tooltip" /> -->
<!-- 									</p:column> -->
<!-- 									<p:column> -->
<!-- 										<p:inputText id="password" maxlength="32" -->
<!-- 											value="#{beanLogin.user.mdp}" type="password" required="true" -->
<!-- 											requiredMessage="mot de passe obligatoire obligatoire" /> -->
<!-- 										<p:message for="password" display="tooltip" /> -->
<!-- 									</p:column> -->
<!-- 								</p:row> -->

<!-- 							</p:panelGrid> -->
<!-- 							<br /> -->
<!-- 							<h1 class="Fs14 Red BorderBottom TexAlLeft">Mon Joueur</h1> -->
<!-- 							<p:panelGrid style="width: 100%;" styleClass="ui-panelgrid-blank"> -->
<!-- 								<p:row> -->
<!-- 									<p:column> -->
<!-- 										<p:outputLabel value="Nom : " for="nom" /> -->
<!-- 									</p:column> -->
<!-- 									<p:column> -->
<!-- 										<p:outputLabel value="Prenom : " for="prenom" /> -->
<!-- 									</p:column> -->
<!-- 									<p:column> -->
<!-- 										<p:outputLabel value="N° licence : " for="licence" /> -->
<!-- 									</p:column> -->
<!-- 								</p:row> -->

<!-- 								<p:row> -->

<!-- 									<p:column> -->
<!-- 										<p:inputText id="nom" maxlength="32" -->
<!-- 											value="#{beanLogin.user.joueur.nomJoueur}" required="true" -->
<!-- 											requiredMessage="Nom obligatoire" /> -->
<!-- 										<p:message for="nom" display="tooltip" /> -->
<!-- 									</p:column> -->
<!-- 									<p:column> -->
<!-- 										<p:inputText id="prenom" maxlength="32" -->
<!-- 											value="#{beanLogin.user.joueur.prenomJoueur}" required="true" -->
<!-- 											requiredMessage="prenom obligatoire" /> -->
<!-- 										<p:message for="prenom" display="tooltip" /> -->
<!-- 									</p:column> -->
<!-- 									<p:column> -->
<!-- 										<p:inputText id="licence" maxlength="32" -->
<!-- 											value="#{beanLogin.user.joueur.licenceJoueur}" -->
<!-- 											required="true" requiredMessage="licence obligatoire" /> -->
<!-- 										<p:message for="licence" display="tooltip" /> -->
<!-- 									</p:column> -->
<!-- 								</p:row> -->
<!-- 								<p:row> -->
<!-- 									<p:column> -->
<!-- 										<p:outputLabel value="Sexe : " for="sexe" /> -->
<!-- 									</p:column> -->
<!-- 									<p:column> -->
<!-- 										<p:outputLabel value="Age : " for="age" /> -->
<!-- 									</p:column> -->
<!-- 									<p:column> -->
<!-- 										<p:outputLabel value="Club : " for="club" /> -->
<!-- 									</p:column> -->
<!-- 								</p:row> -->
<!-- 								<p:row> -->
<!-- 									<p:column> -->
<!-- 										<p:selectOneMenu id="sexe" -->
<!-- 											value="#{beanLogin.user.joueur.sexeJoueur}" required="true" -->
<!-- 											requiredMessage="Sexe obligatoire" style="width:125px"> -->
<!-- 											<f:selectItem itemLabel="" itemValue="" /> -->
<!-- 											<f:selectItem itemLabel="Homme" itemValue="Homme" /> -->
<!-- 											<f:selectItem itemLabel="Femme" itemValue="Femme" /> -->
<!-- 										</p:selectOneMenu> -->
<!-- 										<p:message for="sexe" display="tooltip" /> -->
<!-- 									</p:column> -->
<!-- 									<p:column> -->
<!-- 										<p:inputText id="age" maxlength="3" -->
<!-- 											value="#{beanLogin.user.joueur.ageJoueur}" required="true" -->
<!-- 											requiredMessage="age obligatoire" /> -->
<!-- 										<p:message for="age" display="tooltip" /> -->
<!-- 									</p:column> -->
<!-- 									<p:column> -->
<!-- 										<p:selectOneMenu id="club" -->
<!-- 											value="#{beanLogin.user.joueur.club}" style="width:125px" -->
<!-- 											converter="clubConverter"> -->
<!-- 											<f:selectItem itemLabel="" itemValue="" /> -->
<!-- 											<f:selectItems value="#{beanLogin.listeClubs}" var="club" -->
<!-- 												itemLabel="#{club.label}" itemValue="#{club}" /> -->
<!-- 											<f:attribute name="listeClub" value="#{beanLogin.listeClubs}" /> -->
<!-- 										</p:selectOneMenu> -->
<!-- 										<p:message for="club" display="tooltip" /> -->
<!-- 									</p:column> -->
<!-- 								</p:row> -->
<!-- 							</p:panelGrid> -->
<!-- 							<br /> -->
<!-- 							<h1 class="Fs14 Red BorderBottom TexAlLeft">Classement</h1> -->
<!-- 							<p:panelGrid style="width: 100%;" styleClass="ui-panelgrid-blank"> -->
<!-- 								<p:row> -->
<!-- 									<p:column> -->
<!-- 										<p:outputLabel value="Classement simple: " -->
<!-- 											for="classementSimple" /> -->
<!-- 									</p:column> -->
<!-- 									<p:column> -->
<!-- 										<p:outputLabel value="Classement double: " -->
<!-- 											for="classementDouble" /> -->
<!-- 									</p:column> -->
<!-- 									<p:column> -->
<!-- 										<p:outputLabel value="Classement mixte: " -->
<!-- 											for="classementMixte" /> -->
<!-- 									</p:column> -->
<!-- 								</p:row> -->
<!-- 								<p:row> -->
<!-- 									<p:column> -->
<!-- 										<p:selectOneMenu id="classementSimple" -->
<!-- 											value="#{beanLogin.user.joueur.classementSimple}" -->
<!-- 											style="width:50px" converter="classementConverter" -->
<!-- 											required="true" requiredMessage="niveau obligatoire"> -->
<!-- 											<f:selectItem itemLabel="" itemValue="" /> -->
<!-- 											<f:selectItems value="#{beanLogin.listeClassement}" -->
<!-- 												var="classement" itemLabel="#{classement.label}" -->
<!-- 												itemValue="#{classement}" /> -->
<!-- 											<f:attribute name="listeClassement" -->
<!-- 												value="#{beanLogin.listeClassement}" /> -->
<!-- 										</p:selectOneMenu> -->
<!-- 										<p:message for="classementSimple" display="tooltip" /> -->
<!-- 									</p:column> -->
<!-- 									<p:column> -->
<!-- 										<p:selectOneMenu id="classementDouble" -->
<!-- 											value="#{beanLogin.user.joueur.classementDouble}" -->
<!-- 											style="width:50px" converter="classementConverter" -->
<!-- 											required="true" requiredMessage="niveau obligatoire"> -->
<!-- 											<f:selectItem itemLabel="" itemValue="" /> -->
<!-- 											<f:selectItems value="#{beanLogin.listeClassement}" -->
<!-- 												var="classement" itemLabel="#{classement.label}" -->
<!-- 												itemValue="#{classement}" /> -->
<!-- 											<f:attribute name="listeClassement" -->
<!-- 												value="#{beanLogin.listeClassement}" /> -->
<!-- 										</p:selectOneMenu> -->
<!-- 										<p:message for="classementDouble" display="tooltip" /> -->
<!-- 									</p:column> -->
<!-- 									<p:column> -->
<!-- 										<p:selectOneMenu id="classementMixte" -->
<!-- 											value="#{beanLogin.user.joueur.classementMixte}" -->
<!-- 											style="width:50px" converter="classementConverter" -->
<!-- 											required="true" requiredMessage="niveau obligatoire"> -->
<!-- 											<f:selectItem itemLabel="" itemValue="" /> -->
<!-- 											<f:selectItems value="#{beanLogin.listeClassement}" -->
<!-- 												var="classement" itemLabel="#{classement.label}" -->
<!-- 												itemValue="#{classement}" /> -->
<!-- 											<f:attribute name="listeClassement" -->
<!-- 												value="#{beanLogin.listeClassement}" /> -->
<!-- 										</p:selectOneMenu> -->
<!-- 										<p:message for="classementMixte" display="tooltip" /> -->
<!-- 									</p:column> -->
<!-- 								</p:row> -->
<!-- 							</p:panelGrid> -->
<!-- 						</p:panel> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 			<div class="form-actions-general"> -->
<!-- 				<p:toolbar id="toolBarAction"> -->
<!-- 					<p:toolbarGroup align="right"> -->

<!-- 						<p:button value="retour" icon="fa fa-ban" outcome="LOGIN" -->
<!-- 							styleClass="RedButton RaisedButton" /> -->

<!-- 						<p:commandButton id="boutton_save" value="enregistrer" -->
<!-- 							icon="fa fa-check" action="#{beanLogin.save}" -->
<!-- 							styleClass="GreenButton RaisedButton" update="form_inscription" /> -->

<!-- 						<p:defaultCommand target="boutton_save" /> -->
<!-- 					</p:toolbarGroup> -->
<!-- 				</p:toolbar> -->
<!-- 			</div> -->

<!-- 		</h:form> -->
<!-- 	</div> -->



<!-- 	<h:outputStylesheet name="css/core-layout.css" library="modena-layout" /> -->
<!-- 	<h:outputStylesheet name="css/animate.css" library="modena-layout" /> -->
<!-- 	<h:outputStylesheet name="css/modena-font.css" library="modena-layout" /> -->
<!-- 	<h:outputStylesheet name="css/ripple-effect.css" -->
<!-- 		library="modena-layout" /> -->
<!-- 	<h:outputStylesheet name="css/font-awesome.css" library="modena-layout" /> -->
<!-- 	<h:outputStylesheet name="css/modena-layout.css" -->
<!-- 		library="modena-layout" /> -->
<!-- </h:body> -->

</html>