<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:security="http://www.springframework.org/security/tags"
	template="/WEB-INF/template.xhtml">

	<ui:define name="titre"> - Bloc Inscription</ui:define>

	<ui:define name="subheader">
		<!-- 		<p:link outcome="ACCUEIL" styleClass="link_subheader"> Page d'accueil</p:link> -->
		<p:breadCrumb>
			<p:menuitem value="Page d'accueil" outcome="ACCUEIL" />
		</p:breadCrumb>
	</ui:define>


	<ui:define name="content">

		<script type="text/javascript">
			
		</script>

		<!-- 		<security:authorize access="hasAnyRole('ADMI')"> -->

		<div class="Container100">
			<div class="ContainerIndent">
				<div class="Card ShadowEffect TexAlCenter">
					<br />
					<h2>Le club</h2>
					<br /> <br />

					<h1 class="Fs14 Red BorderBottom TexAlLeft"></h1>

					<h:form id="form_index_tournois">

						<div class="Container100 Responsive100">

							<div class="ContainerIndent">

								<p:accordionPanel>
									<p:tab title="Horaires D'ouvertures">
										<h:panelGrid columns="2" cellpadding="10">
											<h:outputText value="Lundi : " style="font-weight: bold" />
											<h:outputText
												value="20:00 à 22:00-> Compétiteurs  (encadré 1 semaine/2)" />

											<h:outputText value="Mardi : " style="font-weight: bold" />
											<h:outputText
												value="17:45 à 19:45 -> Jeunes avec Entraîneur Diplômé et Bénévoles" />

											<h:outputText value="Mardi : " style="font-weight: bold" />
											<h:outputText
												value="19:45 à 22:00 -> Jeu libre Loisirs et Compétiteurs" />

											<h:outputText value="Jeudi : " style="font-weight: bold" />
											<h:outputText
												value="19:45 à 22:00 -> Jeu libre Loisirs et Compétiteurs" />

											<h:outputText value="Samedi : " style="font-weight: bold" />
											<h:outputText
												value="9:00 à 13:00 -> Jeu libre Loisirs et Compétiteurs" />

										</h:panelGrid>
									</p:tab>

								</p:accordionPanel>
							</div>
							<div class="ContainerIndent">
								<p:accordionPanel>
									<p:tab title="Infos Utiles">
										<h:panelGrid columns="2" cellpadding="10">
											<f:facet name="header">
												<p:graphicImage name="logo.png" styleClass="Fleft"
													library="images" />
											</f:facet>
											<h:outputText value="Telephone : " style="font-weight: bold" />
											<h:outputText value="04 66 01 16 58" />

											<h:outputText value="Adresse : " style="font-weight: bold" />
											<h:outputText value="3 Rue Georges Remesy, Calvisson, 30420" />

											<h:outputText value="Facebook : " style="font-weight: bold" />
											<p:link value="Facebook"
												href="https://www.facebook.com/lesvolantsdecalvisson" />

											<h:outputText value="Mail : " style="font-weight: bold" />
											<h:outputText value="lesvolantsdecalvisson@gmail.com" />

										</h:panelGrid>
									</p:tab>

								</p:accordionPanel>
							</div>

							<div class="ContainerIndent">
								<p:accordionPanel>
									<p:tab title="Le bureau">
										<h:panelGrid columns="2" cellpadding="10">

											<h:outputText value="President : " style="font-weight: bold" />
											<h:outputText value="Frederic Grau" />

											<h:outputText value="Trésorier : " style="font-weight: bold" />
											<h:outputText value="Eric Tiberino" />

											<h:outputText value="Secretaire : " style="font-weight: bold" />
											<h:outputText value="Valerie Grau" />

											<h:outputText value="Responsable Jeune : "
												style="font-weight: bold" />
											<h:outputText value="Luc mignard" />

											<h:outputText value="Membre actif : "
												style="font-weight: bold" />
											<h:outputText value="Maite Galvan" />

											<h:outputText value="Membre actif : "
												style="font-weight: bold" />
											<h:outputText value="Jean-Yves Rivoal" />

										</h:panelGrid>
									</p:tab>

								</p:accordionPanel>
							</div>


						</div>

					</h:form>
				</div>
			</div>
		</div>


		<!-- 		</security:authorize> -->

		<!-- 		<security:authorize access="!hasAnyRole('ADMI')"> -->

		<!-- 			<ui:include src="/jsf/error/access-denied.xhtml" /> -->

		<!-- 		</security:authorize> -->

	</ui:define>

</ui:composition>
