<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pc="http://java.sun.com/jsf/composite/custom_component"
	xmlns:security="http://www.springframework.org/security/tags"
	template="/WEB-INF/template.xhtml">


	<ui:define name="titre"> - UTILITAIRES</ui:define>


	<ui:define name="subheader">

		<p:breadCrumb>
			<p:menuitem value="Page d'accueil" outcome="ACCUEIL" />
			<p:menuitem value="Index" outcome="INDEX_COMPTA" />
			<p:menuitem value="Exporter" outcome="EXPORT_COMPTA" />
		</p:breadCrumb>

	</ui:define>

	<ui:define name="content">

		<script type="text/javascript">
			$(document).ready(function() {
				jQuery("#form_recherche").toggle();
			});
		</script>

		<security:authorize access="hasAnyRole('ADMI', 'COMPTA')">

			<div id="container_filter" class="Container50 icon_recherche">

				<div class="ContainerIndent">

					<div class="Card ShadowEffect HeiAutoOnMobile OvHidden">
						<div class="Container100 Responsive100"
							style="margin: 0px 10px 10px -10px; padding: 0px 10px;">
							<div class="SoftOrangeBack DispInlBlock Fleft"
								style="margin: -10px 20px -10px -10px; padding: 20px 10px;">
								<a href="#" onclick="toggleDivClick();"><i
									class="icon-search Orange Fs50"></i></a>
							</div>
							<p></p>


							<h:form id="form_recherche">

								<p:panelGrid styleClass="ui-panelgrid-blank" style="width: 80%;">

									<p:row>
										<p:column>
											<span class="Gray FontRobotoLight Fs20">Historique</span>
										</p:column>

										<p:column>
											<span class="Gray FontRobotoLight Fs20">Joueur sans
												inscriptions</span>
										</p:column>


									</p:row>

									<p:row>
										<p:column>
											<p:selectOneMenu id="intervalle"
												value="#{beanCompta.filtre.intervalle}" style="width:200px">
												<f:selectItem itemLabel="Toutes le temps" itemValue="1" />
												<f:selectItem itemLabel="Dernier mois" itemValue="2" />
												<f:selectItem itemLabel="3 derniers mois" itemValue="3" />
												<f:selectItem itemLabel="6 derniers mois" itemValue="4" />
												<f:selectItem itemLabel="12 derniers mois" itemValue="5" />
											</p:selectOneMenu>
											<p:message for="intervalle" display="tooltip" />
										</p:column>
										<p:column>
											<p:selectBooleanCheckbox id="inscr"
												value="#{beanCompta.filtre.inscriptionNull}" />
											<p:message for="inscr" display="tooltip" />
										</p:column>
									</p:row>
								</p:panelGrid>

								<div class="CardFooter">
									<span class="CardFooterBtn Gray BorderLeft Fright ripplelink"><p:commandButton
											value="rechercher" action="#{beanCompta.rechercher}"
											oncomplete="toggleDiv(xhr, status, args);"
											update="form_compta:table_compta"
											styleClass="OrangeButton Fright FloatNoneOnMobile" /></span>
								</div>
							</h:form>
						</div>
					</div>
				</div>
			</div>

			<h:form id="form_compta">

				<div class="Container100">
					<div class="ContainerIndent">
						<div class="Card ShadowEffect TexAlCenter">

							<p:panel id="panel_compta" style="text-align;"
								header="Liste des inscriptions par joueur">

								<p:dataTable id="table_compta" var="joueur"
									value="#{beanCompta.listeJoueurs}"
									emptyMessage="Aucune iscriptions" rows="100"
									selection="#{beanCompta.selectedJoueurs}" rowKey="#{joueur.id}"
									sortBy="#{joueur.nbInscriptions}" sortOrder="DESCENDING">

									<p:column selectionMode="multiple"
										style="width:16px;text-align:center" />

									<p:column headerText="Nom joueur" sortBy="#{joueur.nomJoueur}"
										filterBy="#{joueur.label}" filterMatchMode="contains"
										filterStyle="width:200px">
										<h:outputText value="#{joueur.label}" />
									</p:column>

									<p:column headerText="Nombre d'inscriptions"
										sortBy="#{joueur.nbInscriptions}">
										<h:outputText value="#{joueur.nbInscriptions}" />
									</p:column>

									<p:column headerText="Total à payer">
										<h:outputText value="#{joueur.total} €" />
									</p:column>

									<!-- 								<p:column headerText="Date derniere inscription"> -->
									<!-- 								<h:outputText value="#{tournois.dateTournoi}"> -->
									<!-- 									<f:convertDateTime pattern="dd/MM/yyyy" timeZone="Europe/Paris" /> -->
									<!-- 								</h:outputText> -->
									<!-- 								</p:column> -->


								</p:dataTable>
							</p:panel>
						</div>
					</div>
				</div>


				<div class="form-actions-general">
					<p:toolbar id="toolBarAction">
						<p:toolbarGroup align="right">
							<p:commandButton rendered="#{p:ifAnyGranted('ADMI, COMPTA')}"
								id="button_exporter" value="Exporter" styleClass="RaisedButton"
								icon="fa fa-external-link"
								actionListener="#{beanCompta.exporter}" ajax="false"
								action="EXPORT COMPTA"
								onclick="PrimeFaces.monitorDownload(startNonAjaxLoad, reloadPage);">
								<p:fileDownload value="#{beanCompta.fileExport}" />
							</p:commandButton>
						</p:toolbarGroup>
					</p:toolbar>
				</div>
			</h:form>

		</security:authorize>

		<security:authorize access="!hasAnyRole('ADMI', 'COMPTA')">

			<ui:include src="/jsf/error/access-denied.xhtml" />

		</security:authorize>

	</ui:define>

</ui:composition>
