<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:security="http://www.springframework.org/security/tags"
	template="/WEB-INF/template.xhtml">

	<ui:define name="titre"> - Bloc Compta</ui:define>

	<ui:define name="subheader">
		<!-- 		<p:link outcome="ACCUEIL" styleClass="link_subheader"> Page d'accueil</p:link> -->
		<p:breadCrumb>
			<p:menuitem value="Page d'accueil" outcome="ACCUEIL" />
		</p:breadCrumb>
	</ui:define>


	<ui:define name="content">

		<script type="text/javascript">
			
		</script>

		<security:authorize access="hasAnyRole('ADMI', 'COMPTA')">

			<div class="Container100">
				<div class="ContainerIndent">
					<div class="Card ShadowEffect TexAlCenter">
						<br />
						<h2>Bloc Comptabilité</h2>
						<br /> <br />



						<h:form id="form_index_compta">

							<div class="Container50 Responsive50">
								<div class="ContainerIndent">
									<p:menu style="width: 100%;" styleClass="ui-menu-custom">
										<p:submenu label="Ressources">


											<p:menuitem outcome="INSCR_COMPTA">
												<h:outputText value="Liste des inscriptions"
													rendered="#{(p:ifAnyGranted('ADMI, COMPTA'))}" />
											</p:menuitem>

											<p:menuitem outcome="EXPORT_COMPTA">
												<h:outputText value="Exporter"
													rendered="#{(p:ifAnyGranted('ADMI, COMPTA'))}" />
											</p:menuitem>





										</p:submenu>
									</p:menu>
								</div>
							</div>


						</h:form>
					</div>
				</div>
			</div>


		</security:authorize>

		<security:authorize access="!hasAnyRole('ADMI', 'TOURN')">

			<ui:include src="/jsf/error/access-denied.xhtml" />

		</security:authorize>

	</ui:define>

</ui:composition>
