<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pc="http://java.sun.com/jsf/composite/custom_component"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:security="http://www.springframework.org/security/tags"
	template="/WEB-INF/template.xhtml">

	<ui:define name="titre"> - Bloc Joueurs</ui:define>

	<ui:define name="subheader">
		<p:breadCrumb>
			<p:menuitem value="Page d'accueil" outcome="ACCUEIL" />
			<p:menuitem value="Index" outcome="INDEX_INSCRIPTION" />
			<p:menuitem value="Liste joueurs" outcome="LISTE_JOUEURS" />
		</p:breadCrumb>
	</ui:define>


	<ui:define name="content">

		<script type="text/javascript">
			
		</script>

		<security:authorize access="hasAnyRole('ADMI')">

			<h:form id="form_joueur">

				<pc:messages />

				<div class="Container100">
					<div class="ContainerIndent">

						<div class="Card ShadowEffect">

							<p:panel id="panel_joueur" style="text-align;"
								header="#{beanJoueur.libelleHeader}">

								<p:panelGrid style="width: 100%;"
									styleClass="ui-panelgrid-blank">
									<p:row>
										<p:column>
											<p:outputLabel value="Nom : " for="nom" />
										</p:column>

										<p:column>
											<p:outputLabel value="N° licence : " for="licence" />
										</p:column>

										<p:column>
											<p:outputLabel value="Tournoi paye : " />
										</p:column>
										<p:column>
											<p:outputLabel value="Tournoi gardois paye : " />
										</p:column>
									</p:row>

									<p:row>

										<p:column>
											<p:inputText id="nom" maxlength="32"
												value="#{beanJoueur.joueur.nomJoueur}" readonly="true"
												required="true" requiredMessage="Nom obligatoire" />
											<p:message for="nom" display="tooltip" />
										</p:column>

										<p:column>
											<p:inputText id="licence" maxlength="32"
												value="#{beanJoueur.joueur.licenceJoueur}"
												readonly="#{!beanJoueur.modificationGeneral}"
												required="true" requiredMessage="licence obligatoire" />
											<p:message for="licence" display="tooltip" />
										</p:column>

										<p:column>
											<p:spinner id="basic"
												value="#{beanJoueur.joueur.tournoiPaye}"
												rendered="#{beanJoueur.modificationGeneral}" />
											<p:outputLabel value="#{beanJoueur.joueur.tournoiPaye}"
												styleClass="Card GreenBack White" style="margin-left: 10px;"
												rendered="#{!beanJoueur.modificationGeneral}" />
										</p:column>

										<p:column>
											<p:spinner id="basic1"
												value="#{beanJoueur.joueur.tourGardoisPaye}"
												rendered="#{beanJoueur.modificationGeneral}" />
											<p:outputLabel value="#{beanJoueur.joueur.tourGardoisPaye}"
												styleClass="Card YellowBack White"
												style="margin-left: 10px;"
												rendered="#{!beanJoueur.modificationGeneral}" />
										</p:column>
									</p:row>
									<p:row>
										<p:column>
											<p:outputLabel value="Sexe : " for="sexe" />
										</p:column>
										<p:column>
											<p:outputLabel value="Age : " for="age" />
										</p:column>
										<p:column>
											<p:outputLabel value="Club : "
												rendered="#{!beanJoueur.modificationGeneral}" />
										</p:column>

									</p:row>
									<p:row>
										<p:column>
											<!-- 											<p:selectOneMenu id="sexe" -->
											<!-- 												value="#{beanJoueur.joueur.sexeJoueur}" -->
											<!-- 												rendered="#{beanJoueur.modificationGeneral}" required="true" -->
											<!-- 												requiredMessage="Sexe obligatoire"> -->
											<!-- 												<f:selectItem itemLabel="" itemValue="" /> -->
											<!-- 												<f:selectItem itemLabel="Homme" itemValue="Homme" /> -->
											<!-- 												<f:selectItem itemLabel="Femme" itemValue="Femme" /> -->
											<!-- 											</p:selectOneMenu> -->
											<p:inputText id="sexe" maxlength="32"
												value="#{beanJoueur.joueur.sexeJoueur}" readonly="true" />
											<p:message for="sexe" display="tooltip" />
										</p:column>
										<p:column>
											<p:inputText id="age" maxlength="3"
												value="#{beanJoueur.joueur.ageJoueur}"
												readonly="#{!beanJoueur.modificationGeneral}" />
											<p:message for="age" display="tooltip" />
										</p:column>
										<p:column>
											<p:inputText id="club_lock" maxlength="32"
												value="#{beanJoueur.joueur.club.label}" readonly="true"
												rendered="#{!beanJoueur.modificationGeneral}" />

										</p:column>
									</p:row>
								</p:panelGrid>
								<br />

								<p:panelGrid style="width: 100%;"
									styleClass="ui-panelgrid-blank"
									rendered="#{!beanJoueur.modificationGeneral}">
									<h1 class="Fs14 Red BorderBottom TexAlLeft">Classement</h1>
									<p:row>
										<p:column>
											<p:outputLabel value="Classement simple: " />
										</p:column>
										<p:column>
											<p:outputLabel value="Classement double: " />
										</p:column>
										<p:column>
											<p:outputLabel value="Classement mixte: " />
										</p:column>
									</p:row>
									<p:row>
										<p:column>
											<p:outputLabel value="#{beanJoueur.joueur.classementSimple}"
												styleClass="Card #{beanJoueur.joueur.colorSimple} White"
												style="margin-left: 10px;" />
										</p:column>
										<p:column>
											<p:outputLabel value="#{beanJoueur.joueur.classementDouble}"
												styleClass="Card #{beanJoueur.joueur.colorDouble} White"
												style="margin-left: 10px;" />
										</p:column>
										<p:column>
											<p:outputLabel value="#{beanJoueur.joueur.classementMixte}"
												styleClass="Card #{beanJoueur.joueur.colorMixte} White"
												style="margin-left: 10px;" />
										</p:column>
									</p:row>
								</p:panelGrid>

								<p:tab id="tab_joueur" title="Mes tournois"
									rendered="#{beanJoueur.joueur.listeInscriptions != null}">
									<br />
									<h1 class="Fs15 Red BorderBottom">Mes tournois</h1>

									<br />


									<p:dataTable var="inscription"
										rendered="#{beanJoueur.joueur.listeInscriptions != null}"
										style="border:none; text-align:center; width:50%;)"
										value="#{beanJoueur.joueur.listeInscriptions}"
										emptyMessage="Il n'existe pas d'inscriptions a ce joueur">

										<p:column headerText="Nom tournoi">
											<h:outputText value="#{inscription.tournoi.libelleTournoi}" />
										</p:column>


									</p:dataTable>
								</p:tab>
							</p:panel>
						</div>
					</div>
				</div>

				<div class="form-actions-general">
					<p:toolbar id="toolBarAction">
						<p:toolbarGroup align="right">

							<p:commandButton id="boutton_resetMdp" value="Reset mot de passe"
								icon="fa fa-pencil" actionListener="#{beanJoueur.resetMdp}"
								update="form_joueur" styleClass="BlueButton RaisedButton"
								rendered="#{!beanJoueur.modificationGeneral and p:ifAnyGranted('ADMI')}" />

							<p:separator
								rendered="#{!beanJoueur.modificationGeneral  and p:ifAnyGranted('ADMI')}" />

							<p:commandButton id="boutton_createCompte"
								value="Creer le compte" icon="fa fa-pencil"
								actionListener="#{beanJoueur.createCompte}" update="form_joueur"
								styleClass="PurpleButton RaisedButton"
								rendered="#{!beanJoueur.modificationGeneral and p:ifAnyGranted('ADMI') and beanJoueur.user.id == null}" />

							<p:separator
								rendered="#{!beanJoueur.modificationGeneral and beanJoueur.user.id == null}" />

							<p:commandButton value="supprimer" icon="fa fa-bitbucket"
								action="#{beanJoueur.delete}" update="form_joueur"
								styleClass="RedButton RaisedButton"
								rendered="#{!beanJoueur.modificationGeneral and p:ifAnyGranted('ADMI')}">
								<p:confirm header="Suppression"
									message="Confirmez vous la suppression de ce joueur ?"
									icon="ui-icon-alert" />
							</p:commandButton>

							<p:separator rendered="#{!beanJoueur.modificationGeneral}" />

							<p:commandButton id="boutton_modify" value="modifier"
								icon="fa fa-pencil"
								action="#{beanJoueur.setModificationGeneral(true)}"
								update="form_joueur" styleClass="OrangeButton RaisedButton"
								rendered="#{!beanJoueur.modificationGeneral}" />
							<p:defaultCommand target="boutton_modify" />

							<p:commandButton value="annuler" icon="fa fa-ban"
								action="#{beanJoueur.annuler}" update="form_joueur"
								styleClass="RedButton RaisedButton"
								rendered="#{beanJoueur.modificationGeneral and beanJoueur.joueur.id != null}"
								process="@this">
								<p:ajax update="panel_joueur" resetValues="true" />
							</p:commandButton>

							<p:button value="annuler" icon="fa fa-ban"
								outcome="LISTE_JOUEURS" styleClass="RedButton RaisedButton"
								rendered="#{beanJoueur.modificationGeneral and beanJoueur.joueur.id == null}" />

							<p:commandButton id="boutton_save" value="enregistrer"
								icon="fa fa-check" action="#{beanJoueur.save}"
								update="form_joueur" styleClass="GreenButton RaisedButton"
								rendered="#{beanJoueur.modificationGeneral}" />

							<p:defaultCommand target="boutton_save" />
						</p:toolbarGroup>
					</p:toolbar>
				</div>

			</h:form>

		</security:authorize>

		<security:authorize access="!hasAnyRole('ADMI')">

			<ui:include src="/jsf/error/access-denied.xhtml" />

		</security:authorize>

	</ui:define>

</ui:composition>