<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pc="http://java.sun.com/jsf/composite/custom_component"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:security="http://www.springframework.org/security/tags"
	template="/WEB-INF/template.xhtml">

	<ui:define name="titre"> - Joueurs</ui:define>

	<ui:define name="subheader">
		<p:breadCrumb>
			<p:menuitem value="Page d'accueil" outcome="ACCUEIL" />
			<p:menuitem value="Index" outcome="INDEX_INSCRIPTION" />
		</p:breadCrumb>
		<h3>
			<h:outputText value="Liste des joueurs" />
		</h3>
	</ui:define>


	<ui:define name="content">

		<script type="text/javascript">
			$(document).ready(function() {
				jQuery("#form_recherche").toggle();
			});
		</script>

		<security:authorize access="hasAnyRole('ADMI')">

			<div id="container_filter" class="Container50 icon_recherche">

				<div class="ContainerIndent">

					<div class="Card ShadowEffect HeiAutoOnMobile OvHidden">
						<div class="Container100 Responsive100"
							style="margin: 0px 10px 10px -10px; padding: 0px 10px;">
							<div class="SoftOrangeBack DispInlBlock Fleft"
								style="margin: -10px 20px -10px -10px; padding: 20px 10px;">
								<a href="#" onclick="toggleDivClick();"><i
									class="icon-search Orange Fs50"></i></a>
							</div>
							<p></p>


							<h:form id="form_recherche">

								<p:panelGrid styleClass="ui-panelgrid-blank" style="width: 80%;">

									<p:row>
										<p:column>
											<span class="Gray FontRobotoLight Fs20">Nom</span>
										</p:column>

										<p:column>
											<span class="Gray FontRobotoLight Fs20">Licence</span>
										</p:column>

									</p:row>

									<p:row>
										<p:column>
											<p:inputText id="nom"
												value="#{beanListeJoueurs.filtre.nomJoueur}" />
											<p:message for="nom" display="tooltip" />
										</p:column>




										<p:column>
											<p:inputText id="licence"
												value="#{beanListeJoueurs.filtre.licenceJoueur}" />
											<p:message for="licence" display="tooltip" />
										</p:column>


									</p:row>
								</p:panelGrid>

								<div class="CardFooter">
									<span class="CardFooterBtn Gray BorderLeft Fright ripplelink"><p:commandButton
											value="rechercher" action="#{beanListeJoueurs.rechercher}"
											oncomplete="toggleDiv(xhr, status, args);"
											update="table_joueurs"
											styleClass="OrangeButton Fright FloatNoneOnMobile" /></span>
								</div>
							</h:form>
						</div>
					</div>
				</div>
			</div>

			<!-- 		<security:authorize -->
			<!-- 			access="hasAnyRole('ROLE_ADMINISTRATOR, ROLE_USER')"> -->

			<div class="Container100">
				<div class="ContainerIndent">
					<div class="Card ShadowEffect TexAlCenter">

						<p:dataTable id="table_joueurs" var="joueurs"
							value="#{beanListeJoueurs.listejoueurs}"
							emptyMessage="Aucun joueurs" rows="10" paginator="true"
							paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rowsPerPageTemplate="10,20,30" selectionMode="single"
							selection="#{beanListeJoueurs.selectedJoueur}"
							rowKey="#{joueurs.id}" sortBy="#{joueurs.nomJoueur}">

							<p:ajax event="rowSelect" update="toolBarAction"
								listener="#{beanListeJoueurs.onRowSelect}" />

							<p:ajax event="rowUnselect"
								listener="#{beanListeJoueurs.onRowUnselect}"
								update="toolBarAction" />

							<p:ajax event="rowDblselect"
								listener="#{beanListeJoueurs.onRowSelect}"
								update="toolBarAction"
								oncomplete="$('#boutton_consult').click();" />

							<p:column headerText="Nom">
								<h:outputText value="#{joueurs.nomJoueur}" />
							</p:column>



							<p:column headerText="licence">
								<h:outputText value="#{joueurs.licenceJoueur}" />
							</p:column>

							<p:column headerText="Interne">
								<h:outputText rendered="#{joueurs.externe}"
									styleClass="icon-square-cross Red Fs20" />
								<h:outputText rendered="#{!joueurs.externe}"
									styleClass="icon-square-check Green Fs20" />
							</p:column>

						</p:dataTable>

					</div>
				</div>
			</div>


			<div class="form-actions-general">
				<p:toolbar id="toolBarAction">
					<p:toolbarGroup align="right">
						<p:button value="ajouter" icon="fa fa-plus" outcome="JOUEUR"
							styleClass="RaisedButton" />

						<p:separator
							rendered="#{beanListeJoueurs.selectedJoueur != null  and p:ifAnyGranted('ADMI')}" />

						<p:button id="boutton_consult" value="consulter"
							icon="fa fa-file-o"
							rendered="#{beanListeJoueurs.selectedJoueur != null}"
							styleClass="GrayButton RaisedButton" outcome="JOUEUR">
							<f:param name="idJoueur"
								value="#{beanListeJoueurs.selectedJoueur.id}" />
						</p:button>
					</p:toolbarGroup>
				</p:toolbar>
			</div>



		</security:authorize>

		<security:authorize access="!hasAnyRole('ADMI')">

			<ui:include src="/jsf/error/access-denied.xhtml" />

		</security:authorize>
	</ui:define>

</ui:composition>
